<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{form_fragments :: common_head('Customer')}"></th:block>
    <link rel="stylesheet" th:href="@{/css/customer.css}"/>
</head>
<body>
<nav th:replace="~{navigations :: header()}"></nav>

<div class="container mt-2">
    <div class="row">
        <div class="offset-sm-3 col-sm-9 position-relative">
            <!--Subcategory list-->
            <div th:replace="~{common :: categoryList()}"></div>
        </div>
    </div>
</div>

<div class="container p-0 mt-2 position-relative">
    <div th:replace="~{common :: alerts()}"></div>

    <div class="row mt-2 p-0 m-0">
        <div class="col-lg-3 col-3 d-none d-lg-block">
            <div th:replace="~{customer/customer_navigation :: nav()}"></div>
        </div>

        <div class="col-lg-9 col-12 my-4">
            <form method="POST" th:action="@{/customer/update}" th:object="${customer}"
                  class=" d-flex flex-column" name="mainForm" id="mainForm">

                <div class="row gap-3 ">

                    <div class="col-12 offset-md-2 col-md-8 offset-lg-0">
                        <h2>Personal info</h2>
                    </div>

                    <div class="col-12 offset-md-2 col-md-8 offset-lg-0">
                        <h5 class="mt-4 mb-3 display-7">Security</h5>

                        <a class="link link-dark link-underline-opacity-0 link-underline-opacity-50-hover"
                           th:href="${keycloakUrl +  '/realms/SellSphere/protocol/openid-connect/auth?client_id=login-app&redirect_uri=' + baseUrl + '/&response_type=code&scope=openid&kc_action=UPDATE_PASSWORD'}"><i
                                class="bi bi-door-closed fs-3"></i> <span
                                class="ps-4"> Click here to change password</span></a>
                    </div>

                    <div class="col-12 offset-md-2 col-md-8 offset-lg-0">
                        <h5 class="mt-4 mb-3 display-7">Basic</h5>
                        <input type="hidden" th:field="*{id}"/>
                        <div th:replace="~{form_fragments :: field_form_floating_text('firstName', 'First name')}"></div>
                    </div>
                    <div class="col-12 offset-md-2 col-md-8 offset-lg-0">
                        <div th:replace="~{form_fragments :: field_form_floating_text('lastName', 'Last name')}"></div>
                    </div>
                </div>


                <div class="row mt-2">
                    <div class="col-12 offset-md-2 col-md-8 offset-lg-0">
                        <h5 class="mt-5 mb-3 display-7">Contact</h5>
                        <div th:replace="~{form_fragments :: field_form_floating_email('email', 'Email')}"></div>
                    </div>

                </div>

                <div class="mt-4 w-100" id="recaptcha-container"></div>
                <div id="recaptcha-error" class="invalid-feedback">
                    Please verify
                </div>

                <input value="Submit" type="submit" id="submit-button"
                       class="mt-4 btn btn-sm p-2 btn-outline-primary col-12  offset-md-2 col-md-8 offset-lg-0"/>


                <div class="row mt-3 gap-3">


                </div>
            </form>

        </div>
    </div>
</div>


<div class="d-lg-none sticky-bottom bg-dark py-2">
    <div class="container text-center">
        <button id="toggleSidebar" class="btn btn-dark w-100">
            <i class="bi bi-layout-sidebar-inset"
               style="font-size: 1.5rem;"></i>
        </button>
    </div>
</div>
<div class="sidebar-nav" id="sidebarNav">
    <div th:replace="~{customer/customer_navigation :: sidebar_nav()}"></div>
</div>
<div id="overlay" class="overlay"></div>
<footer th:replace="~{navigations :: footer()}"></footer>
<script th:replace="~{common :: configurations()}"></script>
<script th:replace="~{common :: cart_initialization()}"></script>
<div th:replace="~{modal_fragments :: close_modal('errorModal')}"></div>

<script type="text/javascript" th:src="@{/js/customer_navigation.js}"></script>

<script>

    <!-- require submit btn   -->
    $(function () {

        var validator = new FormValidator('mainForm', [
            {
                name: 'email',
                display: 'Email',
                rules: 'required|valid_email|max_length[45]'
            },
            {
                name: 'password',
                display: 'Password',
                rules: 'min_length[8]|max_length[64]'
            },
            {
                name: 'confirmedPassword',
                display: 'Password confirmation',
                rules: 'matches[password]'
            },
            {
                name: 'firstName',
                display: 'First name',
                rules: 'required|alpha|max_length[45]'
            },
            {
                name: 'lastName',
                display: 'Last name',
                rules: 'required|alpha|max_length[45]'
            },
            {
                name: "g-recaptcha-response",
                display: "Recaptcha response",
                rules: "required"
            }
        ], handleValidations);

    })

</script>


</body>
</html>


