<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{form_fragments :: common_head('Payment methods')}"></th:block>
    <script src="https://js.stripe.com/v3/" defer></script>
    <link rel="stylesheet" th:href="@{/css/customer.css}"/>
</head>
<body>
<nav th:replace="~{navigations :: header()}"></nav>

<div class="container mt-2">
    <div class="row">
        <div class="offset-sm-3 col-sm-9 position-relative">
            <!--Subcategory list-->
            <div th:replace="~{common :: categoryList()}"></div>
        </div>
    </div>
</div>

<div class="container p-0 mt-2 position-relative">
    <div th:replace="~{common :: alerts()}"></div>

    <div class="row mt-2 p-0 m-0">
        <div class="col-lg-3 col-3 d-none d-lg-block">
            <div th:replace="~{customer/customer_navigation :: nav()}"></div>
        </div>

        <div class="col-lg-9 col-12 my-4">
            <h2 class="subheading">Cards</h2>
            <hr/>
            <div class="row mt-4 row-gap-4 " id="card-container">
                <div class="col-md-4 col-6" th:each="card : ${cardList}">
                    <div class="border border-1 border-dark-subtle rounded rounded-3">
                        <div class="d-flex justify-content-between p-2">
                            <img class="img-fluid rounded-3 rounded" th:src="${card.logoPath}"
                                 style="height: 40px; width: 50px;"/>
                            <a href="#" th:data-card-id="${card.stripeId}"
                               class="delete-card link-dark link-underline-dark link-underline-opacity-0 link-underline-opacity-50-hover fs-7 px-3 pt-1">Remove</a>
                        </div>
                        <div class="d-flex align-items-center flex-column">
                            <span class=" fw-bolder">**** **** **** <span th:text="${card.last4}"></span></span>
                            <div class="text-start">
                                <span th:if="${!card.expired}" class="fs-7 text-light-emphasis"
                                      th:text="${'Expiration ' + card.expiredDate}"></span>
                                <span th:if="${card.expired}" class="text-danger fs-6"
                                      th:text="${'Expired ' + card.expiredDate}"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end p-2">
                            <a href="#" class="btn btn-sm btn-outline-secondary p-0 px-4 py-1">Edit</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6 ">
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                            Add new card
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add new card </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="form-control p-4 fs-5" id="card-element"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="save-card" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>


<th:block th:replace="~{common :: customer_navigation()}"></th:block>
<th:block th:replace="~{common :: all()}"></th:block>

<script type="text/javascript" th:src="@{/js/payment_methods.js}"></script>

</body>
</html>


