<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="~{common :: common_head('Shopping Cart')}"></th:block>

    <link rel="stylesheet" th:href="@{/css/shopping_cart.css}"/>

    <script type="text/javascript" th:src="@{/js/quantity.js}"></script>
</head>

<body>
<header th:replace="~{navigations :: header()}"></header>

<main class="content mb-5">
    <div class="container mt-4">
        <h3>Shopping cart</h3>

        <div class="row mt-4">
            <div class="col-sm-7">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-light-emphasis">Product</th>
                        <th class="text-light-emphasis">Price</th>
                        <th class="text-light-emphasis">Quantity</th>
                        <th class="text-light-emphasis">Total</th>
                        <th class="text-light-emphasis"><a href="#"
                                                           class="link-dark">clear</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="d-flex gap-3 align-items-center">
                                <img src="https://fastly.picsum.photos/id/740/200/300.jpg?hmac=xGwbWP1ZuaeJBMwh-M84vhuZJwd9V9chUBV1IK6-fbk"
                                     class="img-fluid product-image lazy">
                                <div class="text-truncate" style="max-width: 150px;">
                                    <a href="#" class="link-dark text-decoration-none text-truncate">Lorem Lorem
                                        LoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLorem</a>
                                    <p class="text-muted mb-0">detail1: value1</p>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">Price</td>
                        <td class="align-middle">
                            <div class="input-group mb-3 quantity" style="max-width: 120px;">
                                <button class="btn border-dark-subtle border-end-0 quantity-minus" type="button">
                                    <i class="bi bi-dash opacity-25"></i>
                                </button>
                                <input type="text"
                                       class="form-control text-center border-dark-subtle border-start-0 border-end-0 border-1 quantity-input"
                                       value="1">
                                <button class="btn border-dark-subtle border-1 border-start-0 quantity-plus"
                                        type="button">
                                    <i class="bi bi-plus"></i>
                                </button>
                            </div>
                        </td>
                        <td class="align-middle">
                            quantity * price
                        </td>
                        <td class="align-middle">
                            <a href="#" class="link-dark"><i class="bi bi-x-lg"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex gap-3 align-items-center">
                                <img src="https://fastly.picsum.photos/id/740/200/300.jpg?hmac=xGwbWP1ZuaeJBMwh-M84vhuZJwd9V9chUBV1IK6-fbk"
                                     class="img-fluid product-image lazy">
                                <div class="text-truncate" style="max-width: 150px;">
                                    <a href="#" class="link-dark text-decoration-none text-truncate">Lorem Lorem
                                        LoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLorem</a>
                                    <p class="text-muted mb-0">detail1: value1</p>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">Price</td>
                        <td class="align-middle">
                            <div class="input-group mb-3 quantity" style="max-width: 120px;">
                                <button class="btn border-dark-subtle border-end-0 quantity-minus" type="button">
                                    <i class="bi bi-dash opacity-25"></i>
                                </button>
                                <input type="text"
                                       class="form-control text-center border-dark-subtle border-start-0 border-end-0 border-1 quantity-input"
                                       value="1">
                                <button class="btn border-dark-subtle border-1 border-start-0 quantity-plus"
                                        type="button">
                                    <i class="bi bi-plus"></i>
                                </button>
                            </div>
                        </td>
                        <td class="align-middle">
                            quantity * price
                        </td>
                        <td class="align-middle">
                            <a href="#" class="link-dark"><i class="bi bi-x-lg"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div class="col-sm-4 offset-sm-1 bg-body-tertiary align-self-start p-4 rounded-2">
                <h4>Summary</h4>

                <hr class="px-4 my-4 text-dark-emphasis"/>

                <div class="d-flex flex-column gap-1">
                    <div class="d-flex justify-content-between">
                        <span class="fw-lighter">Subtotal (x items):</span>
                        <!--      if saving display              -->
                        <span>123$</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="fw-lighter">Saving: </span>
                        <span>123</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="fw-lighter">Tax collected: </span>
                        <span>123</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="fw-lighter">Shipping: </span>
                        <span>123</span>
                    </div>
                </div>

                <hr class="px-4 text-dark-emphasis"/>

                <div class="d-flex justify-content-between align-items-center">
                    <span class="fw-lighter">Estimated total: </span>
                    <span class="fs-3">123$</span>
                </div>

                <button class="btn btn-primary w-100 mt-3">
                    Checkout
                </button>
            </div>
        </div>

        <a href="#" class="link-dark text-light-emphasis link-underline-opacity-50-hover link-underline-opacity-0"><i
                class="bi bi-chevron-left"></i> Continue shopping</a>
    </div>

</main>

<footer th:replace="~{navigations :: footer()}"></footer>

<div th:replace="~{modal_fragments :: close_modal('errorModal')}"></div>

<script th:replace="~{common :: configurations()}"></script>
</body>
</html>