<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_2.xsd"
             version="2.2">

    <persistence-unit name="sellsphere-unit">
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <class>com.sellsphere.common.entity.Product</class>
        <properties>
            <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
            <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/sellsphere_dev"/>
            <property name="javax.persistence.jdbc.user" value="sellsphere"/>
            <property name="javax.persistence.jdbc.password" value="o7gpbK[O(-__=1h@k+OhS(@cdBEZTir!xM0Gxwhr;dU0aT7DaV"/>
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>
            <property name="hibernate.show_sql" value="true"/>
            <property name="hibernate.format_sql" value="true"/>
        </properties>
    </persistence-unit>
</persistence>