<div th:fragment="shipping()" class="p-4">
    <div class="alert alert-primary d-flex align-items-center mx-auto p-3 alert-dismissible fade show"
         role="alert">
        <div class="lh-lg">
            The following information is important for calculating the shipping cost of the product. The dimensions (L x
            W x H) refer to the box used for packaging the product, not the product's dimensions.
        </div>
        <div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <div class="row g-3 mt-3">
        <th:block
                th:replace="form_fragments :: number_input_unit('Length', 'length', 0.1, false, 'inch')"></th:block>

        <th:block
                th:replace="form_fragments :: number_input_unit('Width', 'width', 0.1, false, 'inch')"></th:block>

        <th:block
                th:replace="form_fragments :: number_input_unit('Height', 'height', 0.1, false, 'inch')"></th:block>

        <th:block
                th:replace="form_fragments :: number_input_unit('Weight', 'weight', 0.1, false, 'pound')"></th:block>

    </div>
</div>
