<div th:fragment="details()">
    <div class="row p-4">
        <table class="table" id="details">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Value</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="detail, detailStat : *{details}">
                <input type="hidden" th:field="*{details[__${detailStat.index}__].id}"/>
                <input type="hidden" th:field="*{details[__${detailStat.index}__].product}"/>

                <th th:text="${detailStat.index}"></th>
                <th>
                    <input class="form-control" type="text" th:field="*{details[__${detailStat.index}__].name}"/>
                </th>
                <th>
                    <input class="form-control" type="text" th:field="*{details[__${detailStat.index}__].value}"/>
                </th>
                <th>
                    <a href="#" class="link-primary"><i class="fa-solid fa-xmark fa-xl"></i></a>
                </th>
            </tr>
            </tbody>
        </table>

        <div class="col-sm-12 mt-4">
            <a id="newDetailInput" class="link-primary"><i class="fa-solid fa-plus fa-2xl"></i></a>
        </div>

    </div>
</div>

