<div th:fragment="hs_codes()" class="overflow-y-scroll mt-3" style="max-height: 300px;">
    <div class="row">
        <div class="col-sm-4 fw-bolder">01xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">live animals</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">02xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">meat and edible meat offal</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">03xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">fish and crustaceans, molluscs and other aquatic invertebrates</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">04xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">dairy produce; birds' eggs; natural honey; edible products of animal origin, not elsewhere specified or included</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">05xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">products of animal origin, not elsewhere specified or included</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">06xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">live trees and other plants; bulbs, roots and the like; cut flowers and ornamental foliage</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">07xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">edible vegetables and certain roots and tubers</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">08xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">edible fruit and nuts; peel of citrus fruit or melons</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">09xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">coffee, tea, mate and spices</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">10xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">cereals</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">11xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">products of the milling industry; malt; starches; inulin; wheat gluten</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">12xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">oil seeds and oleaginous fruits; miscellaneous grains, seeds and fruit; industrial or medicinal plants; straw and fodder</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">13xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">lac; gums, resins and other vegetable saps and extracts</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">14xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">vegetable plaiting materials; vegetable products not elsewhere specified or included</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">15xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">animal or vegetable fats and oils and their cleavage products; prepared edible fats; animal or vegetable waxes</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">16xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">preparations of meat, of fish or of crustaceans, molluscs or other aquatic invertebrates</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">17xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">sugars and sugar confectionery</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">18xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">cocoa and cocoa preparations</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">19xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">preparations of cereals, flour, starch or milk; pastrycooks' products</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">20xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">preparations of vegetables, fruit, nuts or other parts of plants</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">21xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">miscellaneous edible preparations</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">22xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">beverages, spirits and vinegar</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">23xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">residues and waste from the food industries; prepared animal fodder</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">24xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">tobacco and manufactured tobacco substitutes</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">25xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">salt; sulphur; earths and stone; plastering materials, lime and cement</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">26xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">ores, slag and ash</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">27xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">mineral fuels, mineral oils and products of their distillation; bituminous substances; mineral waxes</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">28xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">inorganic chemicals; organic or inorganic compounds of precious metals, of rare-earth metals, of radioactive elements or of isotopes</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">29xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">organic chemicals</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">30xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">pharmaceutical products</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">31xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">fertilisers</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">32xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">tanning or dyeing extracts; tannins and their derivatives; dyes, pigments and other colouring matter; paints and varnishes; putty and other mastics; inks</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">33xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">essential oils and resinoids; perfumery, cosmetic or toilet preparations</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">34xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">soap, organic surface-active agents, washing preparations, lubricating preparations, artificial waxes, prepared waxes, polishing or scouring preparations, candles and similar articles, modelling pastes, "dental waxes" and dental preparations with a basis of plaster</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">35xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">albuminoidal substances; modified starches; glues; enzymes</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">36xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">explosives; pyrotechnic products; matches; pyrophoric alloys; certain combustible preparations</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">37xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">photographic or cinematographic goods</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">38xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">miscellaneous chemical products</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">39xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">plastics and articles thereof</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">40xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">rubber and articles thereof</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">41xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">raw hides and skins (other than furskins) and leather</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">42xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">articles of leather; saddlery and harness; travel goods, handbags and similar containers; articles of animal gut (other than silk-worm gut)</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">43xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">furskins and artificial fur; manufactures thereof</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">44xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">wood and articles of wood; wood charcoal</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">45xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">cork and articles of cork</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">46xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">manufactures of straw, of esparto or of other plaiting materials; basketware and wickerwork</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">47xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">pulp of wood or of other fibrous cellulosic material; recovered (waste and scrap) paper and paperboard</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">48xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">paper and paperboard; articles of paper pulp, of paper or of paperboard</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">49xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">printed books, newspapers, pictures and other products of the printing industry; manuscripts, typescripts and plans</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">50xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">silk</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">51xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">wool, fine or coarse animal hair; horsehair yarn and woven fabric</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">52xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">cotton</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">53xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">other vegetable textile fibres; paper yarn and woven fabrics of paper yarn</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">54xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">man-made filaments; strip and the like of man-made textile materials</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">55xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">man-made staple fibres</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">56xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">wadding, felt and nonwovens; special yarns; twine, cordage, ropes and cables and articles thereof</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">57xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">carpets and other textile floor coverings</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">58xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">special woven fabrics; tufted textile fabrics; lace; tapestries; trimmings; embroidery</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">59xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">impregnated, coated, covered or laminated textile fabrics; textile articles of a kind suitable for industrial use</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">60xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">knitted or crocheted fabrics</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">61xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">articles of apparel and clothing accessories, knitted or crocheted</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">62xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">articles of apparel and clothing accessories, not knitted or crocheted</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">63xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">other made up textile articles; sets; worn clothing and worn textile articles; rags</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">64xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">footwear, gaiters and the like; parts of such articles</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">65xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">headgear and parts thereof</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">66xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">umbrellas, sun umbrellas, walking-sticks, seat-sticks, whips, riding-crops and parts thereof</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">67xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">prepared feathers and down and articles made of feathers or of down; artificial flowers; articles of human hair</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">68xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">articles of stone, plaster, cement, asbestos, mica or similar materials</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">69xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">ceramic products</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">70xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">glass and glassware</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">71xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">natural or cultured pearls, precious or semi-precious stones, precious metals, metals clad with precious metal, and articles thereof; imitation jewellery; coin</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">72xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">iron and steel</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">73xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">articles of iron or steel</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">74xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">copper and articles thereof</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">75xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">nickel and articles thereof</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">76xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">aluminium and articles thereof</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">78xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">lead and articles thereof</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">79xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">zinc and articles thereof</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">80xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">tin and articles thereof</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">81xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">other base metals; cermets; articles thereof</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">82xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">tools, implements, cutlery, spoons and forks, of base metal; parts thereof of base metal</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">83xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">miscellaneous articles of base metal</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">84xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">nuclear reactors, boilers, machinery and mechanical appliances; parts thereof</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">85xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">electrical machinery and equipment and parts thereof; sound recorders and reproducers, television image and sound recorders and reproducers, and parts and accessories of such articles</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">86xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">railway or tramway locomotives, rolling-stock and parts thereof; railway or tramway track fixtures and fittings and parts thereof; mechanical (including electro-mechanical) traffic signalling equipment of all kinds</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">87xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">vehicles other than railway or tramway rolling-stock, and parts and accessories thereof</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">88xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">aircraft, spacecraft, and parts thereof</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">89xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">ships, boats and floating structures</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">90xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">optical, photographic, cinematographic, measuring, checking, precision, medical or surgical instruments and apparatus; parts and accessories thereof</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">91xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">clocks and watches and parts thereof</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">92xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">musical instruments; parts and accessories of such articles</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">93xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">arms and ammunition; parts and accessories thereof</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">94xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">furniture; bedding, mattresses, mattress supports, cushions and similar stuffed furnishings; lamps and lighting fittings, not elsewhere specified or included; illuminated signs, illuminated name-plates and the like; prefabricated buildings</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">95xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">toys, games and sports requisites; parts and accessories thereof</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">96xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">miscellaneous manufactured articles</div>
        <hr/>
        <div class="col-sm-4 fw-bolder">97xxxx</div> <div class="col-sm-8 fs-6 text-light-emphasis">works of art, collectors' pieces and antiques</div>
        <hr/>
    </div>
</div>