<!DOCTYPE html>
<html lang="en">
<head th:replace="~{form_fragments :: head_with_editor(${pageTitle})}"></head>
<body>
<header th:replace="~{navigations :: header()}"></header>

<main class="content">
    <div class="container-md mt-4">
        <h2 class="text-center mt-4" th:text="${pageTitle}"></h2>

        <form id="mainForm" class="mt-4" enctype="multipart/form-data" method="POST" th:object="${product}" th:action="@{/products/save}">
            <input type="hidden" class="form-control" th:field="*{id}">
            <input type="hidden" class="form-control" th:field="*{createdTime}">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Overview</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="description-tab" data-bs-toggle="tab" data-bs-target="#description-tab-pane" type="button" role="tab" aria-controls="description-tab-pane" aria-selected="false">Description</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="image-tab" data-bs-toggle="tab" data-bs-target="#image-tab-pane" type="button" role="tab" aria-controls="image-tab-pane" aria-selected="false">Images</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="detail-tab" data-bs-toggle="tab" data-bs-target="#detail-tab-pane" type="button" role="tab" aria-controls="detail-tab-pane" aria-selected="false" >Details</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="shipping-tab" data-bs-toggle="tab" data-bs-target="#shipping-tab-pane" type="button" role="tab" aria-controls="shipping-tab-pane" aria-selected="false" >Shipping</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="tax-tab" data-bs-toggle="tab" data-bs-target="#tax-tab-pane" type="button" role="tab" aria-controls="tax-tab-pane" aria-selected="false">Tax</button>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div th:insert="~{product/product_overview.html :: overview()}" class="tab-pane fade show active" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0"></div>
                <div th:insert="~{product/product_description :: description()}" class="tab-pane fade" id="description-tab-pane" role="tabpanel" aria-labelledby="description-tab" tabindex="0"></div>
                <div th:insert="~{product/product_images :: images()}" class="tab-pane fade" id="image-tab-pane" role="tabpanel" aria-labelledby="image-tab" tabindex="0"></div>
                <div th:insert="~{product/product_details :: details()}" class="tab-pane fade" id="detail-tab-pane" role="tabpanel" aria-labelledby="detail-tab" tabindex="0"></div>
                <div th:insert="~{product/product_shipping :: shipping()}" class="tab-pane fade" id="shipping-tab-pane" role="tabpanel" aria-labelledby="shipping-tab" tabindex="0"></div>
                <div th:insert="~{product/product_tax :: tax()}" class="tab-pane fade" id="tax-tab-pane" role="tabpanel" aria-labelledby="tax-tab" tabindex="0"></div>
            </div>

            <div th:replace="~{form_fragments :: form_buttons(${product})}"></div>
        </form>

    </div>
</main>

<footer th:replace="~{navigations :: footer()}"></footer>

<div th:replace="~{modal_fragments :: close_modal('errorModal')}"></div>

<script type="text/javascript" th:src="@{/js/product_overview.js}"></script>
<script type="text/javascript" th:src="@{/js/product_description.js}"></script>
<script type="text/javascript" th:src="@{/js/product_images.js}"></script>
<script type="text/javascript" th:src="@{/js/product_details.js}"></script>
<script type="text/javascript" th:src="@{/js/product_tax.js}"></script>

<script type="text/javascript">
    const MODULE_URL = "[[@{/}]]";
    const MAX_FILE_SIZE = 5 * 1024 * 1024;

    const WIDTH = 1024; // Image width
    const HEIGHT = 768; // Image height
    const QUALITY = 1.0; // Image quality (0.0 to 1.0)

    const validationRules = {
        name: {
            required: true,
            maxlength: 255,
            remote: {
                url: `${MODULE_URL}products/check_uniqueness`,
                type: "post",
                data: {
                    name: function () {
                        return $('input[name="name"]').val();
                    },
                    _csrf: function () {
                        return $('input[name="_csrf"]').val();
                    },
                    id: function () {
                        return $('input[name="id"]').val();
                    }
                },
                error: function (jqXHR) {
                    handleRemoteValidationError(jqXHR);
                }
            }
        },
        alias: {
            required: false,
            maxlength: 255,
        },
        shortDescription: {
            required: true,
            maxlength: 2048,
        },
        fullDescription: {
            required: true,
        },
        newImage: {
            imageRequired: ["mainImage"],
            maxImageSize: true,
        },
        extraImages: {
            maxImageSize: true,
        },
        brand: {
            required: true
        },
        category: {
            required: true
        },
        cost: {
            required: true,
            min: 0
        },
        price: {
            required: true,
            min: 0
        },
        discountPercent: {
            required: true,
            max: 100,
            min: 0
        },
        length: {
            required: true,
            notZero: true
        },
        width: {
            required: true,
            notZero: true
        },
        height: {
            required: true,
            notZero: true
        },
        weight: {
            required: true,
            notZero: true
        },
    };

    const validationMessages = {
        name: {
            required: "Please enter the product name.",
            maxlength: "The product name cannot exceed 255 characters.",
            remote: "This product name is already in use. Please choose a unique name."
        },
        shortDescription: {
            required: "Please provide a short description of the product.",
            maxlength: "The short description is too long. Please limit it to 2048 characters (including HTML tags)."
        },
        fullDescription: {
            required: "Please provide a full description of the product.",
        },
        newImage: {
            imageRequired: "A main product image is required.",
            maxImageSize: `The image size cannot exceed ${MAX_FILE_SIZE} bytes.`
        },
        extraImages: {
            maxImageSize: `The image size cannot exceed ${MAX_FILE_SIZE} bytes.`
        },
        brand: {
            required: "Please specify the brand of the product."
        },
        category: {
            required: "Please select a category for the product."
        },
        cost: {
            required: "Please enter the cost of the product.",
            max: "The cost cannot exceed 100.",
            min: "The cost cannot be less than 0."
        },
        price: {
            required: "Please enter the price of the product.",
            max: "The price cannot exceed 100.",
            min: "The price cannot be less than 0."
        },
        discountPercent: {
            required: "Please enter the discount percentage for the product.",
            max: "The discount percentage cannot exceed 100.",
            min: "The discount percentage cannot be less than 0."
        },
        length: {
            notZero: "The length of the product cannot be zero."
        },
        width: {
            notZero: "The width of the product cannot be zero."
        },
        height: {
            notZero: "The height of the product cannot be zero."
        },
        weight: {
            notZero: "The weight of the product cannot be zero."
        },
    };

    const dynamicRules = [
        {
            selector: "input[name^='details'][name$='.name']",
            rules: {
                required: true,
                maxlength: 255,
                messages: {
                    required: "Please enter a name for the detail.",
                    maxlength: "The detail name cannot exceed 255 characters."
                }
            }
        },
        {
            selector: "input[name^='details'][name$='.value']",
            rules: {
                required: true,
                maxlength: 255,
                messages: {
                    required: "Please enter a value for the detail.",
                    maxlength: "The detail value cannot exceed 255 characters."
                }
            }
        }
    ];

</script>

</body>
</html>