<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-sc">
<head th:replace="~{list_fragments :: head('Manage Products')}"></head>
<header th:replace="navigations :: header()"></header>
<body>
<div class="container-fluid">
    <div class="row">

        <div th:replace="navigations :: sidebar('Products')"></div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Manage Products</h1>
                <div th:replace="navigations :: export_nav('products', true)"></div>
            </div>

            <section class="content mb-5">
                <div class="container-md mt-7">

                    <!-- Alerts -->
                    <div th:replace="~{common :: alerts()}"></div>

                    <!-- Search Bar -->
                    <form th:replace="~{list_fragments :: search_bar('/products/page/0', 'Search for the product', 'id', ${keyword}, ${totalItems}, null)}"></form>

                    <div class="con-lg-xl-xxl">
                        <table class="table table-hover mt-4 large">
                            <thead class="table-dark">
                            <tr>
                                <th th:replace="~{list_fragments :: column_link('/products/page', ${currentPage}, 'id', ${sortField}, ${reversedSortDir},${sortDir}, ${keyword}, 'ID')}"></th>
                                <th>Main Image</th>
                                <th th:replace="~{list_fragments :: column_link('/products/page', ${currentPage}, 'name', ${sortField}, ${reversedSortDir}, ${sortDir}, ${keyword}, 'Product Name')}"></th>
                                <th>Brand</th>
                                <th>Category</th>
                                <th sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EDITOR')">Enabled</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="product : ${productList}">
                                <td th:text="${product.id}"></td>
                                <td>
                                    <div th:replace="~{list_fragments :: entity_image(${product.mainImagePath}, 150, 150)}"></div>
                                </td>
                                <td>
                                    <a th:href="@{|/products/edit/${product.id}|}" th:text="${product.name}"
                                       class="link-primary link-underline-opacity-0 link-underline-opacity-50-hover text-ellipsis-col-3"></a>
                                </td>
                                <td th:text="${product.brand != null ? product.brand.name : ''}"></td>
                                <td th:text="${product.category != null ? product.category.name : ''}"></td>
                                <td sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EDITOR')">
                                    <a th:replace="~{list_fragments :: status(${product.enabled}, |/products/${product.id}/enabled/${!product.enabled}|)}"></a>
                                </td>
                                <td>
                                    <div class="d-flex flex-column gap-3 align-items-center">
                                        <a th:replace="~{list_fragments :: detail_entity(|/products/details/${product.id}|)}"></a>
                                        <a th:insert="~{list_fragments :: delete_entity(|/products/delete/${product.id}|)}"
                                           sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EDITOR') or hasRole('ROLE_SALESPERSON')"></a>
                                        <a th:insert="~{list_fragments :: edit_entity(|/products/edit/${product.id}|)}"
                                           sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EDITOR')"></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="con-s-md">
                        <ul class="list-group list-group-flush">
                            <li th:each="product : ${productList}" class="list-group-item">
                                <div class="d-flex gap-3">
                                    <div class="d-flex flex-column gap-2 align-items-center">
                                        <div th:replace="~{list_fragments :: entity_image(${product.mainImagePath}, 150, 150)}"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="fw-light">Product name</div>
                                            <div>
                                                <a th:href="@{|/products/edit/${product.id}|}" th:text="${product.name}"
                                                   class="link-primary link-underline-opacity-0 link-underline-opacity-50-hover text-ellipsis-col-2"></a>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="fw-light">Product brand</div>
                                            <div th:text="${product.brand.name}"></div>
                                        </div>
                                        <div th:if="${product.category != null}" class="col-6">
                                            <div class="fw-light">Product category</div>
                                            <div th:text="${product.category.name}"></div>
                                        </div>
                                    </div>

                                    <div class="ms-auto d-flex flex-column align-items-center gap-3">
                                        <a th:replace="~{list_fragments :: status(${product.enabled}, |/products/${product.id}/enabled/${!product.enabled}|)}"
                                           sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EDITOR') or hasRole('ROLE_SALESPERSON')"></a>
                                        <a th:replace="~{list_fragments :: detail_entity(|/products/details/${product.id}|)}"></a>
                                        <a th:insert="~{list_fragments :: delete_entity(|/products/delete/${product.id}|)}"
                                           sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EDITOR') or hasRole('ROLE_SALESPERSON')"></a>
                                        <a th:insert="~{list_fragments :: edit_entity(|/products/edit/${product.id}|)}"
                                           sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EDITOR')"></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="con-xs">
                        <ul class="list-group list-group-flush">
                            <li th:each="product : ${productList}" class="list-group-item p-4">
                                <div class="d-flex align-items-start gap-4">
                                    <div class="d-flex flex-column gap-2 align-items-center">
                                        <div th:replace="~{list_fragments :: entity_image(${product.mainImagePath}, 100, 100)}"></div>
                                        <div class="d-flex gap-1 align-items-center">
                                            <a th:replace="~{list_fragments :: status(${product.enabled}, |/products/${product.id}/enabled/${!product.enabled}|)}"
                                               sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EDITOR') or hasRole('ROLE_SALESPERSON')"></a>
                                            <a th:insert="~{list_fragments :: delete_entity(|/products/delete/${product.id}|)}"
                                               sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EDITOR') or hasRole('ROLE_SALESPERSON')"></a>
                                            <a th:insert="~{list_fragments :: edit_entity(|/products/edit/${product.id}|)}"
                                               sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EDITOR')"></a>
                                        </div>
                                    </div>

                                    <div class="row g-3">
                                        <div class="col-12">
                                            <div class="fw-light">Product name</div>
                                            <div>
                                                <a th:href="@{|/products/edit/${product.id}|}" th:text="${product.name}"
                                                   class="link-primary link-underline-opacity-0 link-underline-opacity-50-hover text-ellipsis-col-2"></a>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="fw-light">Brand</div>
                                            <div th:text="${product.brand.name}"></div>
                                        </div>
                                        <div th:if="${product.category != null}" class="col-6">
                                            <div class="fw-light">Category</div>
                                            <div th:text="${product.category.name}"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Pagination -->
                <nav th:replace="~{list_fragments :: large_pagination('/products/page', ${currentPage}, ${totalPages}, ${sortField}, ${sortDir}, ${keyword}, null)}"
                     class="mt-4"></nav>
            </section>
        </main>

    </div>
</div>

<div th:replace="~{modal_fragments :: confirm_close_modal('deleteModal', 'Delete')}"></div>
<div th:replace="~{modal_fragments :: close_modal_xl('detailModal')}"></div>
</body>
</html>

