<div th:fragment="images()">
    <div id="imageContainer" class="row g-5 p-4">

        <div class="col-sm-4">
            <input type="hidden" th:field="*{mainImage}"/>
            <input name="newImage" type="file" class="form-control mb-2"/>
            <div th:replace="~{ ::img_card('Main image', ${product.mainImagePath}, 'previewImage')}"></div>
        </div>

        <div th:each="image, imageStat : *{images}" class="col-sm-4 position-relative">
            <input type="hidden" th:field="*{images[__${imageStat.index}__].id}"/>
            <input type="hidden" th:field="*{images[__${imageStat.index}__].name}"/>
            <input type="hidden" th:field="*{images[__${imageStat.index}__].product}"/>
            <div th:replace="~{ ::img_card('Extra image', ${image.extraImagePath}, |previewImage${imageStat.index}|)}"></div>
            <a href="#" class="link-primary position-absolute top-0 end-0 p-3"><i class="fa-solid fa-xmark"></i></a>
        </div>

        <div class="col-sm-4">
            <a id="newFileInput" class="link-primary"><i class="fa-solid fa-plus fa-2xl"></i></a>
        </div>

    </div>
</div>

<div th:fragment="img_card(title, imagePath, id)" class="card shadow-sm">
    <div class="card-body">
        <h5 class="card-title" th:text="${title}"></h5>
    </div>
    <div class="entity-image-container" style="width: 100%; height: 300px">
        <img th:id="${id}" th:src="${imagePath}" class="p-2 entity-image"
             style="object-fit: cover;">
    </div>
</div>