<div th:fragment="shipping()" class="p-4">
    <div class="row g-3">
        <div class="row col-sm-5 mt-3">
            <div class="alert alert-primary d-flex align-items-center mx-auto p-3 alert-dismissible fade show"
                 role="alert">
                <div class="lh-lg w-90">
                    Product dimensions is important for calculating the shipping cost of the product.
                    Same items in the shipment are considered as height stack.
                    You can activate supported box dimensions on easyship dashboard.
                </div>
                <div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>

            <th:block
                    th:replace="~{form_fragments :: number_input_unit('Length', 'length', 0.01, false, 'cm')}"></th:block>

            <th:block
                    th:replace="~{form_fragments :: number_input_unit('Width', 'width', 0.01, false, 'cm')}"></th:block>

            <th:block
                    th:replace="~{form_fragments :: number_input_unit('Height', 'height', 0.01, false, 'cm')}"></th:block>

            <th:block
                    th:replace="~{form_fragments :: number_input_unit('Weight', 'weight', 0.01, false, 'kg')}"></th:block>
        </div>

        <div class="col-sm-6 offset-sm-1">
            <div class="row g-3">
                <div class="col-sm-4">
                    <label>contains pi966 battery</label>
                    <a href="#" id="tooltip-pi966" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       data-bs-title="This boolean field indicates whether the item contains lithium-ion batteries that are
                      packed with equipment. These are rechargeable batteries commonly used in consumer
                      electronics, such as smartphones, laptops, and other portable devices.
                      Packing Instruction 966 must be applied : Applies when lithium-ion batteries are packed
                      separately from the equipment but shipped together in the same package">
                        <i class="fa-regular fa-circle-question"></i></a>
                </div>
                <div class="col-sm-8">
                    <select th:field="*{containsBatteryPi966}" class="form-control">
                        <option value="true">true</option>
                        <option value="false">false</option>
                    </select>
                </div>

                <div class="col-sm-4">
                    <label>contains pi967 battery</label>
                    <a href="#" id="tooltip-pi967" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       data-bs-title="Packing Instruction 967: Applies when lithium-ion batteries are installed in the equipment
                     being shipped.
                     ContainsBatteryPi967: This boolean field indicates whether the item contains lithium-ion
                     batteries that are installed in equipment.
                     Lithium-Ion Batteries: As above, these are rechargeable batteries used in various
                     electronic devices.">
                        <i class="fa-regular fa-circle-question"></i></a>
                    </a>
                </div>
                <div class="col-sm-8">
                    <select th:field="*{containsBatteryPi967}" class="form-control">
                        <option value="true">true</option>
                        <option value="false">false</option>
                    </select>
                </div>

                <div class="col-sm-4">
                    <label>contains liquids</label>
                </div>
                <div class="col-sm-8">
                    <select th:field="*{containsLiquids}" class="form-control">
                        <option value="true">true</option>
                        <option value="false">false</option>
                    </select>
                </div>

                <div class="col-sm-4">
                    <label class="form-label">HS code</label>
                    <a href="#" id="hs-code-tooltip" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       data-bs-title="HS code is short for Harmonized Commodity Description and Coding System. It's a list of numbers used by customs to classify a product. An HS code consists of at least six digits and is used by customs to classify the product being shipped. That way it can accurately calculate taxes and duties and apply any necessary restrictions.">
                        <i class="fa-regular fa-circle-question"></i></a>
                </div>

                <div class="col-sm-8">
                    <input type="hidden" th:value="${product.hsCode}" id="initial-hs-code"/>
                    <select th:field="*{hsCode}"></select>
                </div>

                <div class="col-12">
                   <div th:replace="~{product/product_hs_codes :: hs_codes()}"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div th:fragment="shipping_readonly()" class="p-4">
    <div class="row g-3">
        <div class="alert alert-primary d-flex align-items-center mx-auto p-3 alert-dismissible fade show"
             role="alert">
            <div class="lh-lg w-90">
                The following information is important for calculating the shipping cost of the product. The dimensions
                (L x
                W x H) refer to the box used for packaging the product, not the product's dimensions.
            </div>
            <div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

        <th:block
                th:replace="~{form_fragments :: number_input_unit('Length', 'length', 0.01, true, 'inch')}"></th:block>

        <th:block
                th:replace="~{form_fragments :: number_input_unit('Width', 'width', 0.01, true, 'inch')}"></th:block>

        <th:block
                th:replace="~{form_fragments :: number_input_unit('Height', 'height', 0.01, true, 'inch')}"></th:block>

        <th:block
                th:replace="~{form_fragments :: number_input_unit('Weight', 'weight', 0.01, true, 'pound')}"></th:block>
    </div>

</div>