<div th:fragment="overview()">
    <div class="row g-md-4 g-2 p-4">
        <th:block
                th:replace="~{form_fragments :: text_input('Product Name', 'name', ${#authorization.expression('hasRole(''ROLE_SALESPERSON'')')})}"></th:block>

        <th:block
                th:insert="~{form_fragments :: text_input_placeholder('Alias', 'alias', 'Leaving it empty will replace product name whitespaces with underscores.')}"></th:block>

        <th:block
                th:replace="~{form_fragments :: select_input('Brand', ${brandList}, 'brand',  ${#authorization.expression('hasRole(''ROLE_SALESPERSON'')')}, false)}"></th:block>

        <th:block
                th:replace="~{form_fragments :: select_input('Category', ${null}, 'category',  ${#authorization.expression('hasRole(''ROLE_SALESPERSON'')')}, false)}"></th:block>

        <th:block
                th:replace="~{form_fragments :: checkbox_input('Enabled', 'enabled' , ${product.enabled}, ${#authorization.expression('hasRole(''ROLE_SALESPERSON'')')})}"></th:block>

        <th:block
                th:replace="~{form_fragments :: checkbox_input('In stock', 'inStock' , ${product.inStock}, ${#authorization.expression('hasRole(''ROLE_SALESPERSON'')')})}"></th:block>

        <th:block
                th:replace="~{form_fragments :: number_input('Cost', 'cost',0.01, ${#authorization.expression('hasRole(''ROLE_SALESPERSON'')')})}"></th:block>

        <th:block
                th:replace="~{form_fragments :: number_input('Price', 'price',0.01, ${#authorization.expression('hasRole(''ROLE_SALESPERSON'')')})}"></th:block>

        <th:block
                th:replace="~{form_fragments :: number_input('Discount percent', 'discountPercent',0.01, ${#authorization.expression('hasRole(''ROLE_SALESPERSON'')')})}"></th:block>

    </div>
</div>

<div th:fragment="overview_readonly()">
    <div class="row g-4 p-4">
        <th:block
                th:replace="~{form_fragments :: text_input('Product Name', 'name', true)}"></th:block>

        <th:block
                th:insert="~{form_fragments :: text_input('Alias', 'alias', true)}"></th:block>

        <th:block
                th:replace="~{form_fragments :: select_input('Brand', ${brandList}, 'brand',  true, false)}"></th:block>

        <th:block
                th:replace="~{form_fragments :: select_input('Category', ${null}, 'category',  true, false)}"></th:block>

        <th:block
                th:replace="~{form_fragments :: checkbox_input('Enabled', 'enabled' , ${product.enabled}, true)}"></th:block>

        <th:block
                th:replace="~{form_fragments :: checkbox_input('In stock', 'inStock' , ${product.inStock}, true)}"></th:block>

        <th:block
                th:replace="~{form_fragments :: number_input('Cost', 'cost',0.01, true)}"></th:block>

        <th:block
                th:replace="~{form_fragments :: number_input('Price', 'price',0.01, true)}"></th:block>

        <th:block
                th:replace="~{form_fragments :: number_input('Discount percent', 'discountPercent',0.01, true)}"></th:block>
    </div>
</div>


