<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{common :: common_head('Products')}"></th:block>
    <link rel="stylesheet" th:href="@{/css/products.css}">
    <link rel="stylesheet" th:href="@{/css/double_range_slider.css}">
</head>
<body>
<header th:replace="~{navigations :: header()}"></header>

<div class="container mt-2">
    <div class="row">
        <div class="offset-sm-3 col-sm-9 position-relative">
            <!--Subcategory list-->
            <div th:replace="~{common :: categoryList()}"></div>
        </div>
    </div>
</div>

<header class="mt-3">
    <div class="container-md">
        <nav th:replace="~{navigations :: breadcrumbCategory(${categoryParentList})}"></nav>
        <nav th:replace="~{navigations :: breadcrumbKeyword()}"></nav>

        <div th:if="${category != null and category.children.size() > 0}" class="row bg-white p-4 rounded-3 g-3">
            <div th:each="category : ${category.children}" class="col-sm-4">
                <a th:href="@{'/c/' + ${category.alias}}"
                   class="link-dark link-underline-opacity-0 link-underline-opacity-50-hover">
                    <img class="img-fluid category-image" th:src="${category.mainImagePath}" th:alt="${category.name}"/>
                    <span class="ms-3" th:text="${category.name}"></span>
                </a>
            </div>
        </div>
    </div>
</header>

<main class="my-5">
    <div class="container-md">
        <div class="row">
            <div class="col-sm-4 col-md-3 bg-body-tertiary rounded-3 d-flex flex-column align-self-start gap-3">
                <div id="filters" class="p-3 hidden-xs">

                </div>

                <div class="list-group d-none list-group-flush p-3 overflow-y-scroll side-filter-container hidden-xs hidden-sm"
                     id="allFilterNames">

                </div>

                <div>
                    <a href="#" class="btn btn-outline-secondary viewProducts d-none mx-auto d-block w-100">Show
                        products</a>
                    <a href="#" class="btn w-100 btn-outline-primary" id="showAllFilters">Show all filters</a>
                </div>
            </div>

            <div class="col-sm-8 col-md-9 p-3">
                <div class="row mb-5 g-3">

                    <div class="col-sm-12 mx-4 overflow-x-scroll d-none" id="activeFilters">
                        <div class="d-flex gap-3 align-items-center">
                            <h6 class="subheading-small m-0 hidden-xs hidden-sm">Active filters</h6>

                            <div class="d-flex gap-4 align-items-center flex-md-wrap" id="filterBadges">

                            </div>
                        </div>

                        <hr/>
                    </div>


                    <div class="col-md-4 col-sm-6">
                        <div class="d-flex justify-content-center">
                                <div class="multi-range custom-range">
                                    <input type="range" min="0" max="50" value="5" class="custom-slider" id="lower">
                                    <input type="range" min="0" max="50" value="45" class="custom-slider" id="upper">
                                </div>

                        </div>
                        <div class="d-flex gap-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text" th:text="${CURRENCY_SYMBOL}"></span>
                                <input type="number" step="1" class="form-control" id="lowerPrice">
                            </div>
                            <span>-</span>
                            <div class="input-group mb-3">
                                <span class="input-group-text" th:text="${CURRENCY_SYMBOL}"></span>
                                <input type="number" step="1" class="form-control" id="upperPrice">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 offset-md-4 col-sm-5 offset-sm-1">
                        <select class="form-control" id="sortBy">
                            <option value="DEFAULT">default sorting</option>
                            <option value="LOWEST">price - from the lowest</option>
                            <option value="HIGHEST">price - from the highest</option>
                            <option value="RATINGS">by customer ratings</option>
                            <option value="QUESTIONS">by number of questions</option>
                        </select>
                    </div>

                </div>

                <div class="row g-5" id="products">

                </div>

                <nav class="d-flex">
                    <ul class="pagination mx-auto" id="pagination">

                    </ul>
                </nav>

                <ul class="list-group d-none" id="allFilters">

                </ul>


            </div>
        </div>

    </div>
</main>



<div id="overlay" class="overlay"></div>
<footer th:replace="~{navigations :: footer()}"></footer>

<div th:replace="~{modal_fragments :: close_modal('errorModal')}"></div>

<script type="text/javascript" th:src="@{/js/FilterModel.js}"></script>
<script type="text/javascript" th:src="@{/js/FilterController.js}"></script>
<script type="text/javascript" th:src="@{/js/FilterView.js}"></script>
<script type="text/javascript" th:src="@{/js/double_range_slider.js}"></script>
<script type="text/javascript" th:src="@{/js/category_list.js}"></script>

<script th:replace="~{common :: configurations()}"></script>
<script th:replace="~{common :: cart_initialization()}"></script>

<script type="text/javascript">
    $(function () {
        const filterView = new FilterView();
        const filterModel = new FilterModel(filterView);
        const filterController = new FilterController(filterModel, filterView);
        filterController.init();

        initializeRangeSlider('lower', 'upper', 'lowerPrice', 'upperPrice');
    })
</script>
</body>
</html>