<div th:fragment="general()" class="p-4">
    <section style="height: 60vh">
        <div class="row">
            <div class="col-sm-4 position-relative">
                <section
                        th:replace="~{common :: splide_product_images_carousel('main-carousel', ${product.images})}"></section>
                <section
                        th:replace="~{common :: splide_product_images_carousel('thumbnail-carousel', ${product.images})}"></section>

                <div class="position-absolute top-0 start-0">
                    <span class="badge bg-warning-subtle" th:text="${product.brand.name}"></span>
                </div>
            </div>

            <div class="col-sm-7 offset-sm-1">
                <div class="row">
                    <div class="col-sm-8">
                        <h4 th:text="${product.name}"></h4>
                    </div>


                    <div th:if="${product.inStock}" class="col-sm-3 offset-sm-1 px-0">
                        <div th:replace="~{:: quantity()}"></div>


                        <button type="button" class="btn btn-primary w-100" style="height: 50px"><i
                                class="bi bi-cart pe-2"></i>
                            Add to cart
                        </button>
                    </div>
                </div>

                <div class="d-flex gap-3 align-items-center mt-auto">

                    <div th:replace="~{common :: product_price(${product.discountPrice}, ${product.discountPercent}, ${product.price})}"></div>

                    <a href="#"><i class="bi bi-bookmark-heart-fill fs-2 text-primary"></i></a>

                    <i th:if="${product.inStock}" class="ms-auto bi bi-check2-circle fs-6 text-success">
                        Available to order
                    </i>
                    <span th:if="${!product.inStock}" class="ms-auto text-danger-emphasis">Not available</span>
                </div>

                <div class="mt-4 border shadow-sm rounded-2 p-3">
                    <h6 class="px-3">About this item</h6>
                    <div th:utext="${product.shortDescription}"></div>
                </div>

            </div>
        </div>
    </section>

    <hr class="my-5"/>

    <section>
        <div th:utext="${product.fullDescription}"></div>
    </section>

    <hr class="my-5"/>

    <section>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-12 m-0 p-0">
                        <h6 class="py-2">Technical Details</h6>
                    </div>
                    <th:block th:each="detail,stat : ${product.details}">
                        <div th:classappend="${stat.last ? 'border-bottom' : ''}"
                             class="col-6 bg-body-tertiary p-2 border-top border-1 fs-7" th:text="${detail.name}"></div>
                        <div th:classappend="${stat.last ? 'border-bottom' : ''}"
                             class="col-6 p-2 border-top border-1 fs-7"
                             th:text="${detail.value}"></div>
                    </th:block>
                </div>
            </div>

            <div class="offset-sm-1 col-sm-5">
                <div class="row">
                    <div class="col-12 m-0 p-0">
                        <h6 class="py-2">Additional Information</h6>
                    </div>

                    <div class="col-6 bg-body-tertiary p-2 border-top border-1 fs-7">Brand</div>
                    <div class="col-6 p-2 border-top border-1 fs-7"
                         th:text="${product.brand.name}"></div>

                    <div class="col-6 bg-body-tertiary p-2 border-top border-1 fs-7">Customer Reviews</div>
                    <div class="col-6 p-2 border-top border-1 fs-7"></div>

                    <div class="col-6 bg-body-tertiary p-2 border-top border-bottom border-1 fs-7">Customer Questions</div>
                    <div class="col-6 p-2 border-top border-bottom border-1 fs-7"></div>
                </div>
            </div>
        </div>
    </section>

</div>

<div class="input-group mb-3 quantity" th:if="${product.inStock}" th:fragment="quantity()"
     style="height: 50px">
    <button class="btn border-dark-subtle border-end-0 quantity-minus" type="button">
        <i class="bi bi-dash opacity-25"></i>
    </button>
    <input
           class="form-control text-center border-dark-subtle border-start-0 border-end-0 border-1 quantity-input" value="1">
    <button class="btn border-dark-subtle border-1 border-start-0 quantity-plus" type="button">
        <i class="bi bi-plus"></i>
    </button>
</div>

