<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{common :: common_head(${product.name})}"></th:block>
    <th:block th:replace="~{common :: splidejs()}"></th:block>
    <link rel="stylesheet" th:href="@{/css/products.css}">
</head>
<body>
<header th:replace="~{navigations :: header()}"></header>
<header class="mt-4">
    <div class="container-md">
        <nav th:replace="~{navigations :: breadcrumbCategory(${categoryParentList})}"></nav>
    </div>
</header>


<main class="content">
    <div class="container">
        <ul class="nav nav-underline mt-2" id="productTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link text-dark-emphasis active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general-tab-pane" type="button" role="tab" aria-controls="general-tab-pane" aria-selected="true">General</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-dark-emphasis" id="review-tab" data-bs-toggle="tab" data-bs-target="#review-tab-pane" type="button" role="tab" aria-controls="review-tab-pane" aria-selected="false">Reviews</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-dark-emphasis" id="question-tab" data-bs-toggle="tab" data-bs-target="#question-tab-pane" type="button" role="tab" aria-controls="question-tab-pane" aria-selected="false">Questions</button>
            </li>
        </ul>
        <div class="tab-content" id="productTabContent">
            <div class="tab-pane fade show active" id="general-tab-pane" role="tabpanel" aria-labelledby="general-tab" tabindex="0">
                <div th:replace="~{product/product_fragments :: general()}"></div>
            </div>
            <div class="tab-pane fade" id="review-tab-pane" role="tabpanel" aria-labelledby="review-tab" tabindex="0">...</div>
            <div class="tab-pane fade" id="question-tab-pane" role="tabpanel" aria-labelledby="question-tab" tabindex="0">...</div>
        </div>

    </div>

</main>


<footer th:replace="~{navigations :: footer()}"></footer>
<script type="text/javascript">
    $(function () {

        var main = new Splide('#main-carousel', {
            widthAuto: true,
            type: 'fade',
            rewind: true,
            pagination: false,
            arrows: false,
        });

        var thumbnails = new Splide('#thumbnail-carousel', {
            fixedWidth: 140,
            fixedHeight: 100,
            rewind: true,
            pagination: false,
            focus: 'center',
            arrows: false,
            isNavigation: true,
            breakpoints: {
                600: {
                    fixedHeight: 44,
                },
            },
        });

        main.sync(thumbnails);
        main.mount();
        thumbnails.mount();
    })
</script>
</body>
</html>