<div th:fragment="general()" class="p-4">
    <div class="row gap-4 gap-lg-0">
        <div class="col-lg-4 position-relative ">

            <section
                    th:replace="~{common :: splide_product_images_carousel('main-carousel', ${product.images}, ${product.mainImagePath})}"></section>

            <section
                    th:replace="~{common :: splide_product_images_carousel('thumbnail-carousel', ${product.images}, ${product.mainImagePath})}"></section>


            <div class="position-absolute top-0 start-0">
                <span class="badge bg-warning-subtle" th:text="${product.brand.name}"></span>
            </div>
        </div>

        <div class="col-lg-7 offset-lg-1">
            <div class="row gap-4">
                <div class="col-lg-8  fw-bolder">
                    <span class="fs-6 d-none d-sm-block" th:text="${product.name}" style="line-height: 1.8rem"></span>
                    <span class="d-sm-none fs-7" th:text="${product.name}"></span>
                </div>

                <div th:if="${product.inStock}" class="col-lg-3  px-0">
                    <div th:replace="~{:: quantity()}"></div>

                    <div class="d-flex gap-4">
                        <button type="button" class="btn btn-outline-primary w-50 add-to-cart-quantity"
                                th:data-product-id="${product.id}" style="height: 50px">
                            <i class="bi bi-cart pe-2"></i>
                        </button>
                        <a href="#" class="btn btn-outline-danger wishlist w-50" th:data-product-id="${product.id}">
                            <i class="${'bi cart-icon-size'}"
                               th:classappend="${product.wishlistAssigned ? 'bi-heart-fill text-danger' : 'bi-heart'}"
                               style="font-size: 1.3rem"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="d-flex gap-3 align-items-center mt-3">

                <div th:replace="~{common :: product_price(${product.discountPrice}, ${product.discountPercent}, ${product.price})}"></div>


                <i th:if="${product.inStock}" class="ms-auto bi bi-check2-circle fs-6 text-success pe-4">
                    Available to order
                </i>
                <span th:if="${!product.inStock}" class="ms-auto text-danger-emphasis">Not available</span>
            </div>

            <div class="mt-4 rounded-2 p-2  d-md-block d-none" style="line-height: 1.8rem;">
                <div th:utext="${product.shortDescription}"></div>
            </div>

        </div>
    </div>

    <hr class="my-lg-5"/>

    <section class="lh-lg px-4">
        <div class="mt-4" th:utext="${product.fullDescription}"></div>
    </section>

    <hr class="my-lg-5"/>

    <section class="px-3">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-12 m-0 p-0">
                        <h6 class="py-2">Technical Details</h6>
                    </div>
                    <th:block th:each="detail,stat : ${product.details}">
                        <div th:classappend="${stat.last ? 'border-bottom' : ''}"
                             class="col-6 bg-body-tertiary p-2 border-top border-1 fs-7" th:text="${detail.name}"></div>
                        <div th:classappend="${stat.last ? 'border-bottom' : ''}"
                             class="col-6 p-2 border-top border-1 fs-7"
                             th:text="${detail.value}"></div>
                    </th:block>
                </div>
            </div>

            <div class="offset-sm-1 col-sm-5">
                <div class="row">
                    <div class="col-12 m-0 p-0">
                        <h6 class="py-2">Additional Information</h6>
                    </div>

                    <div class="col-6 bg-body-tertiary p-2 border-top border-1 fs-7">Brand</div>
                    <div class="col-6 p-2 border-top border-1 fs-7"
                         th:text="${product.brand.name}"></div>

                    <div class="col-6 bg-body-tertiary p-2 border-top border-1 fs-7">Customer Reviews</div>
                    <div class="col-6 p-2 border-top border-1 fs-7">
                        <div class="d-flex gap-3">
                            <div th:replace="~{review/review_fragments :: review_stars(${product.averageRating})}"></div>
                            <a th:text="${product.reviewCount}"
                               th:href="@{'/reviews/p/' + ${product.alias} + '/page/0'}"></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>

<div class="input-group mb-3 quantity" th:if="${product.inStock}" th:fragment="quantity()"
     style="height: 50px">
    <button class="btn border-dark-subtle  quantity-minus" type="button">
        <i class="bi bi-dash"></i>
    </button>
    <input
            class="form-control text-center  border-dark-subtle   quantity-input"
            value="1">
    <button class="btn border-dark-subtle  quantity-plus" type="button">
        <i class="bi bi-plus"></i>
    </button>
</div>

<div th:fragment="reviews()" id="reviews" class="card mb-6 mt-5">
    <div class="card-header">
        <h4 class="card-title">Reviews ([[${product.reviewCount}]])</h4>
    </div>
    <div class="card-body row p-4">
        <div class="col-sm-4">
            <div th:replace="review/review_fragments :: rating_summary(${product.averageRating}, 'rateYo2', ${product.reviewCount})"></div>
        </div>
        <div class="col-sm-4">
            <div th:replace="review/review_fragments :: rating_percentages(${ratingPercentages})"></div>
        </div>
        <div class="col-sm-4 d-flex align-items-center mt-3">
            <a th:href="@{|/reviews/p/${product.alias}/page/0|}" class="btn btn-outline-primary mx-auto">View
                all reviews</a>
        </div>
    </div>
    <ul th:replace="review/review_list :: content()"></ul>
</div>

<div class="product-carousel-card p-2 rounded-2" th:fragment="product_card()">
    <a th:href="@{|/p/${product.alias}|}" class="product-carousel-img-container mt-4">
        <img th:src="${product.mainImagePath}" class="card-img-top" th:alt="${product.name}">
    </a>

    <!--carousel product card body-->
    <div class="mt-4 p-1">
        <a th:href="@{|/p/${product.alias}|}"
           class="link-dark link-underline link-underline-opacity-0 fs-7 product-title "><span
                class="product-title" th:text="${product.name}"></span></a>

        <div th:replace="~{common :: product_price(${product.discountPrice}, ${product.discountPercent}, ${product.price})}"></div>
    </div>

    <!--Discount badge-->
    <div th:if="${product.discountPercent > 0}" class="position-absolute top-0 p-1">
                            <span class="badge bg-danger text-center fs-7"
                                  th:text="${'-' + product.discountPercent + '%'}"></span>
    </div>

    <div class="position-absolute top-0 end-0">
        <a href="#" class="cart-icon link-dark d-block add-to-cart" th:data-product-id="${product.id}">
            <i class="bi bi-cart cart-icon-size"></i>
        </a>

        <a href="#" class="heart-icon link-dark wishlist" th:data-product-id="${product.id}">
            <i class="${'bi cart-icon-size'}"
               th:classappend="${product.wishlistAssigned ? 'bi-heart-fill text-danger' : 'bi-heart'}"></i>
        </a>
    </div>

    <div class="product-carousel-card-details p-2">
        <div class="row g-2">
            <div class="col-7 detail">
                <span class="text-light-emphasis">Rating:</span>
            </div>
            <div class="col-5 detail fw-bolder">
                <div th:replace="~{common :: product_rating(${product.averageRating}, ${product.reviewCount})}"></div>
            </div>
            <th:block th:each="detail, stat : ${product.details}" th:if="${stat.index < 3}">
                <div class="col-7 detail">
                    <span th:text="${detail.name + ':'}" class="text-light-emphasis"></span>
                </div>
                <div class="col-5 detail fw-bolder" th:text="${detail.value}"></div>
            </th:block>
        </div>
    </div>
</div>

