<!-- HTTPS required for stripe live mode -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="~{common :: common_head('Shopping Cart')}"></th:block>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" th:src="@{/js/debounce_util.js}"></script>
    <script type="text/javascript" th:src="@{/js/tooltip.js}"></script>
    <script type="text/javascript" th:src="@{/js/CheckoutModel.js}"></script>
    <script type="text/javascript" th:src="@{/js/CheckoutView.js}"></script>
    <script type="text/javascript" th:src="@{/js/CheckoutController.js}"></script>

    <link rel="stylesheet" th:href="@{/css/checkout.css}"/>
</head>

<body>
<header th:replace="~{navigations :: header()}"></header>

<main class="content mt-4 mb-6">
    <div id="checkout">
        <!-- Checkout will insert the payment form here -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="accordion" id="checkout-accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button id="address-accordion-btn" class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse"
                                    aria-expanded="false">
                                Address
                            </button>
                        </h2>
                        <div id="checkout-address-accordion" class="accordion-collapse collapse show"
                             data-bs-parent="#checkout-accordion">
                            <div class="accordion-body">
                                <form id="address-form">
                                    <div id="address-element">
                                        <!-- Elements will create form elements here -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button id="payment-accordion-btn" class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse">
                                Payment
                            </button>
                        </h2>
                        <div id="checkout-payment-accordion" class="accordion-collapse collapse"
                             data-bs-parent="#checkout-accordion">
                            <div class="accordion-body">
                                <form id="payment-form">
                                    <div id="payment-element">
                                        <!-- Elements will create form elements here -->
                                    </div>
                                    <div id="error-message">
                                        <!-- Display error message to your customers here -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button id="summary-accordion-btn" class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse">
                                Summary
                            </button>
                        </h2>
                        <div id="checkout-summary-accordion" class="accordion-collapse collapse"
                             data-bs-parent="#checkout-accordion">
                            <div class="accordion-body">
                                <div id="summary">
                                    <div class="row">
                                        <div id="summary-products" class="col-sm-8 row">
                                        </div>
                                        <div class="col-sm-4 align-items-start">
                                            <span class="fw-bolder">Choose a delivery option:</span>
                                            <div id="summary-rates" class="d-flex flex-column gap-3">
                                            </div>
                                            <div id="rate-pagination">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-sm-4 align-items-start">
                <div class="d-flex flex-column gap-2 border border-1 shadow-sm rounded-2 p-4">

                    <h3 class="total fw-bold d-none">123</h3>

                    <h3 id="total-load" class="fw-bold d-none">
                        <div class="placeholder-wave w-25">
                            <span class="placeholder col-12 bg-secondary-subtle"></span>
                        </div>
                    </h3>

                    <div id="products" class="d-none d-flex flex-column gap-2"></div>

                    <div id="summary-nav" class="d-none">

                        <hr class="text-dark-emphasis"/>

                        <div class="d-flex justify-content-between">
                            <span class="fw-bolder">Subtotal</span>
                            <span id="subtotal">123</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="">Shipping</span>
                            <span id="shipping">123</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="fw-lighter">Shipping tax</span>
                            <span id="shipping-tax">123</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="fw-lighter">Tax</span>
                            <span id="tax">123</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="">Total tax</span>
                            <span id="total-tax">123</span>
                        </div>

                        <hr class="text-dark-emphasis"/>

                        <div id="currencies" class="d-flex gap-3 flex-wrap currencies d-none">
                            <a id="presentment-currency" class="currency" href="#">

                            </a>
                            <!-- Prepend currencies here -->
                            <a id="settlement-currency" class="currency currency-checked" href="#">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b7/Flag_of_Europe.svg"
                                     class="img-fluid border border-1" style="max-width: 40px; max-height: 25px"/>
                                <span id="settlement-total" class="fw-bolder"></span>
                            </a>
                        </div>

                        <div id="currencies-load" class="d-flex gap-3 flex-wrap d-none">
                            <div class="placeholder-wave" style="width: 45%;">
                                <span class="placeholder col-12 bg-secondary-subtle"></span>
                            </div>
                            <div class="placeholder-wave" style="width: 45%;">
                                <span class="placeholder col-12 bg-secondary-subtle"></span>
                            </div>
                        </div>

                        <div class="currencies d-none">
                            <span class="text-light-emphasis fs-7 d-block" id="exchange-rate">1 EUR = 4.30 PLN (includes 2% conversion fee)</span>
                            <span class="fw-lighter fs-7">Exchange rate will be refreshed in: <span id="countdown"></span></span>
                        </div>


                        <div class="d-flex justify-content-between mt-3">
                            <span class="fw-bolder">Total due</span>
                            <span class="total"></span>
                        </div>

                    </div>

                    <div id="products-load" class="d-none d-flex flex-column gap-2">
                        <div class="d-flex justify-content-between">
                            <div class="placeholder-wave w-25">
                                <span class="placeholder col-12 bg-secondary-subtle"></span>
                            </div>
                            <div class="placeholder-wave w-25">
                                <span class="placeholder col-12 bg-secondary-subtle"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="placeholder-wave w-25">
                                <span class="placeholder col-12 bg-secondary-subtle"></span>
                            </div>
                            <div class="placeholder-wave w-25">
                                <span class="placeholder col-12 bg-secondary-subtle"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="placeholder-wave w-25">
                                <span class="placeholder col-12 bg-secondary-subtle"></span>
                            </div>
                            <div class="placeholder-wave w-25">
                                <span class="placeholder col-12 bg-secondary-subtle"></span>
                            </div>
                        </div>
                    </div>

                    <div id="summary-load-nav" class="d-none">

                        <hr class="text-dark-emphasis"/>

                        <div class="d-flex justify-content-between">
                            <span class="fw-bolder">Subtotal</span>
                            <div class="placeholder-wave w-25">
                                <span class="placeholder col-12 bg-secondary-subtle"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="">Shipping</span>
                            <div class="placeholder-wave w-25">
                                <span class="placeholder col-12 bg-secondary-subtle"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="fw-lighter">Shipping tax</span>
                            <div class="placeholder-wave w-25">
                                <span class="placeholder col-12 bg-secondary-subtle"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="fw-lighter">Tax</span>
                            <div class="placeholder-wave w-25">
                                <span class="placeholder col-12 bg-secondary-subtle"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="">Total tax</span>
                            <div class="placeholder-wave w-25">
                                <span class="placeholder col-12 bg-secondary-subtle"></span>
                            </div>
                        </div>

                        <hr class="text-dark-emphasis"/>

                        <div class="d-flex justify-content-between mt-3">
                            <span class="fw-bolder">Total due</span>
                            <div class="placeholder-wave w-25">
                                <span class="placeholder col-12 bg-secondary-subtle"></span>
                            </div>
                        </div>

                    </div>

                    <div class="d-flex mt-4 justify-content-center">
                        <button id="address-btn" class="btn btn-primary w-100 rounded-4">Continue to payment
                        </button>
                    </div>

                    <div class="d-flex mt-4 justify-content-center">
                        <span id="address-load-btn" class="d-inline-block w-100" tabindex="0" data-bs-toggle="tooltip" data-bs-title="Provide correct address to continue">
                            <button class="btn btn-primary w-100 rounded-4" type="button" disabled>Continue to payment</button>
                        </span>
                    </div>

                    <div class="d-flex mt-4 d-none">
                        <button id="payment-btn" class="btn btn-primary w-100 rounded-4">Review and shipping
                        </button>
                    </div>

                    <div class="d-flex mt-4 d-none">
                       <span id="payment-load-btn" class="d-inline-block w-100" tabindex="0" data-bs-toggle="tooltip" data-bs-title="Please provide correct payment information to process further">
                            <button class="btn btn-primary w-100 rounded-4" type="button" disabled>Review and shipping</button>
                        </span>
                    </div>

                    <div class="d-flex mt-4 d-none">
                        <button id="place-order-btn" class=" btn btn-primary w-100 rounded-4">Place order</button>
                    </div>

                    <div class="d-flex mt-4 d-none">
                       <span id="place-order-load-btn" class="d-inline-block w-100" tabindex="0" data-bs-toggle="tooltip" data-bs-title="Please provide correct payment information to process further">
                            <button class="btn btn-primary w-100 rounded-4" type="button" disabled>Place order</button>
                        </span>
                    </div>

                </div>

            </div>

        </div>
    </div>
</main>

<footer th:replace="~{navigations :: footer()}"></footer>
<div th:replace="~{modal_fragments :: close_modal('errorModal')}"></div>

<script th:replace="~{common :: configurations()}"></script>
<script th:replace="~{common :: cart_initialization()}"></script>

<script type="text/javascript">
    $(function () {
        const view = new CheckoutView();
        const model = new CheckoutModel();
        window.controller = new CheckoutController(model, view);
    });
</script>
</body>
</html>