<div class="p-4 bg-white h-100">

    <div class="p-3 d-flex gap-4">
        <div class="order-sidebar-img-container">
            <a th:href="@{'/p/' + ${question.product.alias}}"
               class="link-dark link-underline-opacity-50-hover link-underline link-underline-opacity-0"><img
                    th:src="${question.product.mainImagePath}" th:alt="${question.product.name}"/></a>
        </div>

        <div class="fs-7 d-flex flex-column gap-3" >
            <a th:href="@{'/p/' + ${question.product.alias}}"
               class="link-dark link-underline-opacity-50-hover link-underline link-underline-opacity-0" th:text="${question.product.name}"></a>

            <div th:replace="~{common :: product_price(${question.product.discountPrice}, ${question.product.discountPercent}, ${question.product.price})}"></div>
        </div>
    </div>

    <hr class="text-light-emphasis"/>

    <h4 class="fw-bolder m-2">My question</h4>


    <div class="d-flex justify-content-between p-3 ">
        <p th:text="${question.questionContent}"></p>
    </div>

    <div class="d-flex justify-content-end mt-2">
        <span class="text-light-emphasis fw-lighter mx-4 fs-7" th:text="${question.askTime}"></span>
    </div>



    <div class="bg-body-tertiary mx-4 p-3 mt-4">
        <div th:if="${question.answerContent != null}">
            <p th:text="${question.answerContent}"></p>
            <div class="d-flex justify-content-end">
                <span class="text-light-emphasis fw-lighter  fs-7" th:text="${question.answerTime}"></span>
            </div>
        </div>
        <p th:if="${question.answerContent == null}"><b>Our team will answer asap!</b></p>
    </div>

    <div class="d-flex justify-content-end gap-2 me-4 mt-2">
        <th:block th:replace="~{vote/vote_fragments :: thumbs('vote_question', ${question})}"></th:block>
    </div>


</div>

