<div th:fragment="modal()">
    <div class="p-4">
        <header>
            <div class="d-flex justify-content-between">
                <h3 th:text="${transaction.displayAmount + ' ' + transaction.targetCurrency.code.toUpperCase()}"></h3>
                <a href="#" class="link-dark refund-request"><i class="fa-solid fa-xl fa-rotate-left"></i></a>
            </div>
        </header>

        <!-- summary -->
        <section class="mt-3">
            <div class="d-flex gap-5">
                <div>
                    <span class="d-block text-light-emphasis">Created</span>
                    <span th:text="${transaction.created}"></span>
                </div>
                <div>
                    <span class="d-block text-light-emphasis">Customer</span>
                    <a th:href="@{'/customers/edit/' + ${transaction.customer.id}}"
                       th:text="${transaction.customer.fullName}"></a>
                </div>
                <div th:if="${transaction.paymentMethod != null}">
                    <span class="d-block text-light-emphasis">Payment method</span>
                    <span th:text="${transaction.paymentMethod.type}"></span>
                </div>
                <div th:if="${transaction.order != null}">
                    <span class="d-block text-light-emphasis">Order</span>
                    <a th:href="@{'/orders/edit/' + ${transaction.order.id}}"
                       th:text="${'#' + transaction.order.id}"
                       class="link-primary"
                    >
                    </a>
                </div>
            </div>
        </section>

        <!-- Refunds -->
        <section
                th:if="${transaction.charge != null and transaction.charge.refunds != null and transaction.charge.refunds.size() > 0}"
                class="mt-5">
            <h4>Refunds</h4>

            <hr/>

            <table class="table">
                <thead>
                <tr>
                    <th>Created</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="refund : ${transaction.charge.refunds}">
                    <td th:text="${refund.created}"></td>
                    <th th:text="${refund.displayAmount + ' ' + refund.currency.code.toUpperCase()}"></th>
                    <td th:text="${refund.status}"></td>
                    <td>
                        <a href="#"
                           class="link-dark link-underline-opacity-50-hover link-underline-opacity-0">Cancel</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>

        <!-- Payment details -->
        <section th:replace="~{transaction/transaction_fragments :: payment_details(${transaction})}"></section>

        <!-- Customer details -->
        <section th:replace="~{transaction/transaction_fragments :: customer_details(${transaction})}"></section>

        <!-- Shipping       -->
        <section th:replace="~{transaction/transaction_fragments :: shipping_details(${transaction})}"></section>

        <!-- Related payments -->
        <section th:if="${transaction.customer.transactions.size() > 1}" class="mt-4">

            <h3>Related payments</h3>

            <hr/>

            <div class="overflow-y-scroll" style="height: 200px;">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Payment method</th>
                        <th>Customer</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${tr.id != transaction.id}" th:each="tr : ${transaction.customer.transactions}">
                        <td th:text="${tr.displayAmount}"></td>
                        <th>
                            <span th:if="${tr.paymentMethod != null}"
                                  th:text="${tr.paymentMethod.type + ' ' + tr.targetCurrency.code.toUpperCase()}"></span>
                        </th>
                        <td th:text="${tr.customer.fullName}"></td>
                        <td th:text="${tr.created}"></td>
                        <td th:text="${tr.status}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>

    </div>
</div>