<!DOCTYPE html>
<html lang="en">
<head th:replace="~{list_fragments :: head('Manage Transactions')}"></head>
<body>

<header th:replace="~{navigations :: header()}"></header>

<main class="mt-4 content">
    <h1 class="text-center">Manage Transactions</h1>

    <div class="container-md mt-5">

        <!-- Alerts -->
        <div th:replace="~{common :: alerts()}"></div>

        <!-- Export       -->
        <ul th:replace="~{navigations :: export_nav('transactions', true)}"></ul>

        <!-- Search Bar -->
        <form th:replace="~{list_fragments :: search_bar('/transactions/page/0', 'Search for the transaction', 'created', ${keyword}, ${totalItems}, null)}"></form>

        <table class="table table-hover mt-4 large">
            <thead class="table-dark">
            <tr>
                <th th:replace="~{list_fragments :: column_link('/transactions/page', ${currentPage}, 'id', ${sortField}, ${reversedSortDir},${sortDir}, ${keyword}, 'ID')}"></th>
                <th th:replace="~{list_fragments :: column_link('/transactions/page', ${currentPage}, 'amount', ${sortField}, ${reversedSortDir},${sortDir}, ${keyword}, 'Amount')}"></th>
                <th th:replace="~{list_fragments :: column_link('/transactions/page', ${currentPage}, 'status', ${sortField}, ${reversedSortDir},${sortDir}, ${keyword}, 'Status')}"></th>
                <th>Payment method</th>
                <th th:replace="~{list_fragments :: column_link('/transactions/page', ${currentPage}, 'customer.email', ${sortField}, ${reversedSortDir},${sortDir}, ${keyword}, 'Customer')}"></th>
                <th>

                </th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="transaction : ${transactionList}">
                <td th:text="${transaction.id}"></td>
                <td th:text="${transaction.currency.symbol + transaction.displayAmount}"></td>
                <td>
                    <span th:if="${transaction.isPartial}">Has partial refunds</span>
                    <span th:if="${!transaction.hasRefunds}" th:text="${transaction.status}"></span>
                    <span th:if="${transaction.isRefunded}">Refunded</span>
                </td>
                <td></td>
                <td th:text="${transaction.customer.email}"></td>
                <td>
                    <a href="#" class="refund-request" th:data-id="${transaction.id}"><i class="fa-solid fa-rotate-left"></i></a>
                    <a th:replace="~{list_fragments :: detail_entity(|/transactions/details/${transaction.id}|)}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <!-- Pagination -->
    <nav th:replace="~{list_fragments :: large_pagination('/transactions/page', ${currentPage}, ${totalPages}, ${sortField}, ${sortDir}, ${keyword}, null)}" class="mt-4"></nav>

</main>

<footer th:replace="~{navigations :: footer()}"></footer>

<div th:replace="~{modal_fragments :: close_modal('errorModal')}"></div>
<div th:replace="~{modal_fragments :: close_modal_xl('detailModal')}"></div>

<div class="modal fade" id="refundModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalLabel">Refund payment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="col-form-label col-sm-4">Refund</label>

                    <div class="col-sm-8">
                        <div class="input-group mb-3">
                            <input id="amount" type="number" step="0.01" class="form-control" placeholder="Refund" aria-label="Refund" aria-describedby="currency-symbol">
                            <span class="input-group-text" id="currency-symbol" ></span>
                        </div>
                    </div>

                    <label class="col-form-label col-sm-4">Reason</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="reason">
                            <option value="FRAUDULENT">Fraudulent</option>
                            <option value="DUPLICATE">Duplicate</option>
                            <option value="REQUESTED_BY_CUSTOMER">Requested by customer</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" id="refund-btn">Refund</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/transactions.js}"></script>
<script type="text/javascript">
    const MODULE_URL = "[[@{/}]]";
</script>
</body>
</html>


