<div th:fragment="field_form_floating_text(field, label)" class="form-floating">
    <input type="text" class="form-control" th:field="*{__${field}__}" placeholder="John">
    <span class="invalid-feedback"></span>
    <label th:for="${field}" th:text="${label}"></label>
</div>

<div th:fragment="field_form_floating_email(field, label)" class="form-floating">
    <input type="email" class="form-control" th:field="*{__${field}__}" placeholder="John">
    <span class="invalid-feedback"></span>
    <label th:for="${field}" th:text="${label}"></label>
</div>

<div th:fragment="field_form_floating_password(field)" class="form-floating">
    <input type="password" class="form-control" th:field="*{__${field}__}"
           placeholder="********">
    <span class="invalid-feedback"></span>
    <label th:for="${field}">Leave empty to keep old password</label>
</div>

<div th:fragment="field_check(fieldName, label)" class="form-check">
    <input class="form-check-input" type="checkbox"
           th:field="*{__${fieldName}__}">
    <span class="invalid-feedback"></span>
    <label class="form-check-label" th:text="${label}">
    </label>
</div>

<th:block th:fragment="common_head(title)">
    <th:block th:replace="~{common :: common_head(${title})}"></th:block>
    <script type="text/javascript" th:src="@{/node_modules/jquery-validation/dist/jquery.validate.js}"></script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js" ></script>
    <script type="text/javascript" th:src="@{/js/form_validation.js}" ></script>

</th:block>