<!DOCTYPE html>
<html lang="en">
<head th:replace="~{form_fragments :: head('Edit Question')}"></head>
<body>

<header th:replace="~{navigations :: header()}"></header>

<section class="content">

    <div class="container mt-7">

        <h1 class="text-center">EDIT QUESTION [[${question.id}]]</h1>

        <form id="mainForm" th:action="@{/questions/save}" method="POST" th:object="${question}">
            <div class="mx-auto mt-5">
                <div th:replace="~{common :: alerts()}"></div>

                <div class="border border-1 rounded-3 px-4 pb-4 shadow-sm row g-3">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{product}"/>
                    <input type="hidden" th:field="*{customer}"/>

                    <th:block th:replace="~{form_fragments :: text_input('Product', 'product.name', true)}"></th:block>

                    <label class="form-label col-sm-label col-sm-4">Question</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" th:field="*{questionContent}" rows="3"></textarea>
                    </div>

                    <th:block th:replace="~{form_fragments :: text_input('Asked by', customer.fullName, true)}"></th:block>
                    <th:block th:replace="~{form_fragments :: text_input('Asked time', askTime, true)}"></th:block>
                    <th:block th:replace="~{form_fragments :: text_input('Votes', votes, true)}"></th:block>

                    <label class="form-label col-sm-label col-sm-4">Answer</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" th:field="*{answerContent}" rows="3"></textarea>
                    </div>

                    <th:block th:replace="~{form_fragments :: checkbox_input('Approved', 'approvalStatus', ${question.approvalStatus}, false)}"></th:block>
                </div>

                <div th:replace="~{form_fragments :: form_buttons(${question})}"></div>
            </div>
        </form>
    </div>
</section>

<footer th:replace="~{navigations :: footer()}"></footer>
</body>
</html>