<head th:fragment="head(title)">
    <th:block th:replace="~{:: common_head(title)}"></th:block>
</head>

<head th:fragment="head_with_editor(title)">
    <th:block th:replace="~{:: common_head(title)}"></th:block>
    <script type="text/javascript" th:src="@{/node_modules/tinymce/tinymce.js}"></script>
    <script type="text/javascript" th:src="@{/js/tinymce_initializer.js}"></script>
</head>

<th:block th:fragment="common_head(title)">
    <th:block th:replace="~{common :: head_all(${title})}"></th:block>
    <link rel="stylesheet" th:href="@{/css/form.css}">

    <script type="text/javascript" th:src="@{/node_modules/jquery-validation/dist/jquery.validate.js}"></script>
    <script type="text/javascript" th:src="@{/js/image_compression.js}"></script>
    <script type="text/javascript" th:src="@{/js/common_form.js}"></script>
    <script type="text/javascript" th:src="@{/js/form_validation.js}"></script>
</th:block>

<!-- HIDDEN INPUT -->
<input th:fragment="hidden_input(fieldName)" th:field="*{__${fieldName}__}" type="hidden"/>

<!-- TEXT INPUT - FIELD -->
<th:block th:fragment="text_input(label, fieldName, readonly)">
    <label class="col-sm-4 col-form-label" th:text="${label}"></label>
    <div class="col-sm-8">
        <input th:field="*{__${fieldName}__}" type="text" class="form-control"
               th:attr="readonly=${readonly}? 'readonly' : null"/>
        <span th:replace="~{:: field_error(${fieldName})}"></span>
    </div>
</th:block>

<!-- TEXT INPUT WITH PLACEHOLDER -->
<th:block th:fragment="text_input_placeholder(label, fieldName, placeholder)">
    <label class="col-sm-4 col-form-label" th:text="${label}"></label>
    <div class="col-sm-8">
        <input th:field="*{__${fieldName}__}" type="text" class="form-control" th:placeholder="${placeholder}"/>
        <span th:replace="~{:: field_error(${fieldName})}"></span>
    </div>
</th:block>

<!-- TEXT INPUT -->
<th:block th:fragment="text_input_value(label, name, value, readonly)">
    <input th:name="${name}" th:value="${value}" type="text" class="form-control"
           th:attr="readonly=${readonly}? 'readonly' : null"/>
</th:block>

<!-- PASSWORD INPUT -->
<th:block th:fragment="password_input(id)">
    <label class="col-sm-4 col-form-label">Password</label>
    <div class="col-sm-8">
        <input th:field="*{password}" type="password" class="form-control"
               th:placeholder="${id != null ? 'Leave the field blank to keep the old password' : ''}"/>
        <span th:replace="~{:: field_error('password')}"></span>
    </div>
</th:block>

<!-- CONFIRM PASSWORD -->
<th:block th:fragment="confirm_password_input(id)">
    <label class="col-sm-4 col-form-label">Confirm password</label>
    <div class="col-sm-8">
        <input name="confirmedPassword" type="password" class="form-control"
               th:placeholder="${id != null ? 'Leave the field blank to keep the old password' : ''}"/>
    </div>
</th:block>

<!-- NUMBER INPUT -->
<th:block th:fragment="number_input(label, fieldName, step, readonly)">
    <label class="col-sm-4 col-form-label" th:text="${label}"></label>
    <div class="col-sm-8">
        <input th:field="*{__${fieldName}__}" type="number" class="form-control" th:step="${step}"
               th:attr="readonly=${readonly}? 'readonly' : null"/>
        <span th:replace="~{:: field_error(${fieldName})}"></span>
    </div>
</th:block>

<!-- NUMBER WITH UNIT -->
<th:block th:fragment="number_input_unit(label, fieldName, step, readonly, unit)">
    <label class="col-sm-4 col-form-label" th:text="${label}"></label>
    <div class="mb-3 col-sm-8">
        <div class="input-group">
            <input th:field="*{__${fieldName}__}" type="number" class="form-control" th:step="${step}"
                   th:attr="readonly=${readonly}? 'readonly' : null"/>
            <span class="input-group-text" th:text="${unit}"></span>
        </div>
        <span th:replace="~{:: field_error(${fieldName})}"></span>
    </div>
</th:block>

<!-- CHECKBOX INPUT -->
<th:block th:fragment="checkbox_input(label, fieldName, checked, disabled)" class="form-check">
    <div class="col-sm-8 offset-sm-4">
        <input class="form-check-input" type="checkbox" th:field="*{__${fieldName}__}" th:checked="${checked}"
               th:disabled="${disabled}">
        <label class="form-check-label" th:text="${label}"></label>
        <span th:replace="~{:: field_error(${fieldName})}"></span>
    </div>
</th:block>

<!-- CHECKBOX LIST INPUT -->
<div th:fragment="checkbox_list_input(label, fieldName, value, checked, disabled)" class="form-check">
    <input type="checkbox" th:name="${fieldName}" th:value="${value}"
           th:checked="${checked}" th:disabled="${disabled}" class="form-check-input"/>
    <label th:text="${label}" class="form-check-label"></label>

    <input type="hidden" th:name="${fieldName}" th:value="${value}" th:if="${checked and disabled}"/>
</div>


<!-- IMAGE INPUT -->
<th:block th:fragment="image_input(imageURL, fieldName, width, height)">
    <input type="hidden" th:field="*{__${fieldName}__}"/>

    <div class="col-sm-4">
        <div class="entity-image-container" th:style="${'width:' + width + 'px; height:' + height + 'px'}">
            <img id="previewImage" class="entity-image border border-1 rounded-1" th:src="${imageURL}"/>
        </div>
    </div>

    <div class="col-sm-8">
        <input type="file" name="newImage" accept="image/png, image/jpeg, image/gif" class="form-control"/>
        <span th:replace="~{:: field_error(${fieldName})}"></span>
    </div>
</th:block>

<!-- SELECT INPUT -->
<th:block th:fragment="select_input(label, entityList, entityField, disabled, dashOption)">
    <label class="col-sm-4 col-form-label" th:text="${label}"></label>
    <div class="col-sm-8">
        <select class="form-select" th:field="*{__${entityField}__}" th:disabled="${disabled}">
            <option th:if="${dashOption}" value="-1">---</option>
            <option th:each="entity : ${entityList}" th:value="${entity.id}" th:text="${entity.name}"></option>
        </select>
        <span th:replace="~{:: field_error(${entityField})}"></span>
        <input type="hidden" th:if="${disabled}" th:name="${entityField}" th:value="*{__${entityField}__.id}"/>
    </div>
</th:block>

<!-- MULTI SELECT INPUT -->
<th:block th:fragment="multi_select(label, entityList, entityField)">
    <label class="col-sm-4 col-form-label" th:text="${label}">Label</label>
    <div class="col-sm-8">
        <select class="form-select" th:field="*{__${entityField}__}" multiple size="15">
            <option th:each="entity : ${entityList}" th:value="${entity.id}">[[${entity.name}]]</option>
        </select>
    </div>
</th:block>

<!-- FORM BUTTONS -->
<div th:fragment="form_buttons(entity)" class="d-flex justify-content-center gap-3 mt-3">
    <input id="saveInput" type="submit" th:value="${entity != null and entity.id != null ? 'Update' : 'Save'}"
           class="btn btn-primary rounded-4 save"/>
    <input type="button" value="Cancel" class="btn btn-secondary rounded-4 cancel" onclick="goToListPage()"/>
</div>

<!-- ERROR INFO FIELD -->
<span th:fragment="field_error(fieldName)" th:if="${#fields.hasErrors(fieldName)}"
      th:errors="*{__${fieldName}__}"
      class="text-danger p-1">
</span>


<!-- settings -->
<th:block th:fragment="label_input(label, id, name, value)">
    <label class="col-sm-4 col-form-label" th:text="${label}"></label>
    <div class="col-sm-8">
        <input class="form-control" type="text" th:id="${id}" th:name="${name}" th:value="${value}"/>
    </div>
</th:block>

<th:block th:fragment="label_input_checkbox(label, id, name, value)">

    <label class="col-sm-4 col-form-label" th:text="${label}"></label>
    <div class="col-sm-8">
        <input class="form-control" type="checkbox" th:id="${id}" th:name="${name}" th:value="${value}"/>
    </div>
</th:block>

<th:block th:fragment="file_input(label, name, imgSrc)">
    <label class="col-sm-4 col-form-label" th:text="${label}"></label>
    <div class="col-sm-8">
        <input type="file" class="form-control" th:name="${name}" accept="image/png, image/jpeg"/>
        <div class="entity-image-container mt-3" style="width: 150px; height: 150px;">
            <img class="img-fluid" id="previewImage" alt="Site Logo thumbnail" th:src="${imgSrc}"/>
        </div>
    </div>
</th:block>

<div th:fragment="form_floating(id, placeholder, label)" class="form-floating mb-3 w-100">
    <input type="text" class="form-control" th:id="${id}" th:name="${id}" th:placeholder="${placeholder}">
    <label th:for="${id}" th:text="${label}"></label>
</div>