<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{common :: head_all('Login')}"></th:block>

    <script type="text/javascript" th:src="@{/node_modules/jquery-validation/dist/jquery.validate.js}"></script>
    <script type="text/javascript" th:src="@{/js/common_form.js}"></script>
    <script type="text/javascript" th:src="@{/js/form_validation.js}"></script>

    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
<main class="form-signin w-100 m-auto">
    <form method="POST" th:action="@{/authenticateTheUser}">
        <h1 class="h3 mb-3 fw-normal">Sign in</h1>

        <div class="form-floating">
            <input type="email" class="form-control" name="username" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div th:if="${param.error}" class="alert alert-danger text-center">
            The email and/or password
            you entered isn't working
        </div>
        <div th:if="${param.logout}" class="alert alert-info text-center">
            User logged out successfully
        </div>

        <div class="form-check text-start my-3">
            <input class="form-check-input" type="checkbox" name="remember-me" value="remember-me"
                   id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Remember me
            </label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>

        <div class="mt-3 d-flex w-100 justify-content-center">
            <a data-bs-toggle="modal" data-bs-target="#loginModal" href="#" id="role-login"
               class="link-dark link-underline-dark link-underline-opacity-0 link-underline-opacity-50-hover">Role based user login</a>
        </div>

    </form>

</main>

<!-- Modal -->
<div class="modal fade " id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <div class="p-3 d-flex  align-items-center">
                    <i class="fa-solid fa-user"></i> <span class="ps-3 ">Access any role account with admin credentials</span>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>

            <form th:action="@{/login-as}" method="POST" id="mainForm">
                <div class="modal-body">
                    <div class="row p-4 row-gap-3">

                        <div class="offset-sm-1 col-sm-10">
                            <label class="">Username</label>
                            <input type="email" name="adminUsername" class="form-control"/>
                        </div>
                        <div class="offset-sm-1 col-sm-10">
                            <label class="">Password</label>
                            <input type="password" name="adminPassword" class="form-control"/>
                        </div>
                    </div>

                    <div class="row p-4 column-gap-3 row-gap-3 justify-content-center">
                        <div class="col-5 bg-body-tertiary p-3 rounded rounded-2 border border-1 border-opacity-75 shadow shadow-sm role-card"
                             data-role="EDITOR">
                            <a href="javascript:void(0)"
                               class="link link-dark link-underline-opacity-0 d-flex justify-content-center flex-column align-items-center gap-2">
                                <i class="fa-solid fa-user-pen"></i>
                                <span class="fw-bolder" style="font-size: 0.8rem;">Login as Editor</span>
                            </a>
                        </div>
                        <div class="col-5 bg-body-tertiary p-3 rounded rounded-2 border border-1 border-opacity-75 shadow shadow-sm role-card"
                             data-role="SHIPPER">
                            <a href="javascript:void(0)"
                               class="link link-dark link-underline-opacity-0 d-flex justify-content-center flex-column align-items-center gap-2">
                                <i class="fa-solid fa-truck"></i>
                                <span class="fw-bolder" style="font-size: 0.8rem;">Login as Shipper</span>
                            </a>
                        </div>
                        <div class="col-5 bg-body-tertiary p-3 rounded rounded-2 border border-1 border-opacity-75 shadow shadow-sm role-card"
                             data-role="SALESPERSON">
                            <a href="javascript:void(0)"
                               class="link link-dark link-underline-opacity-0 d-flex justify-content-center flex-column align-items-center gap-2">
                                <i class="fa-solid fa-dollar-sign"></i>
                                <span class="fw-bolder" style="font-size: 0.8rem;">Login as Salesperson</span>
                            </a>
                        </div>
                        <div class="col-5 bg-body-tertiary p-3 rounded rounded-2 border border-1 border-opacity-75 shadow shadow-sm role-card"
                             data-role="ASSISTANT">
                            <a href="javascript:void(0)"
                               class="link link-dark link-underline-opacity-0 d-block d-flex justify-content-center flex-column align-items-center gap-2">
                                <i class="fa-solid fa-handshake-angle"></i>
                                <span class="fw-bolder" style="font-size: 0.8rem;">Login as Assistant</span>
                            </a>
                        </div>

                        <div class="col-12 text-center">
                            <input type="hidden" id="selectedRole" name="role"/>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <input id="saveInput" value="Authenticate" type="submit" class="btn btn-primary"/>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>

            </form>

        </div>


    </div>

</div>

<script type="text/javascript" th:src="@{/js/login_as.js}"></script>

<script type="text/javascript">
    const MAX_FILE_SIZE = 5 * 1024 * 1024;
    const WIDTH = 150;
    const HEIGHT = 150;
    const QUALITY = 1;

    const MODULE_URL = "[[@{/}]]";

    const validationRules = {
        adminPassword: {
            required: true,
        },
        adminUsername: {
            required: true,
            email: true,
        },
        role: {
            required:true
        }
    };

    const validationMessages = {
        adminPassword: {
            required: "A password cannot be blank.",
        },
        adminUsername: {
            required: "An email cannot be blank.",
            email: "The email address entered doesn't look right.",
        },
        role: {
            required: "Select user role to login"
        }
    };

    const dynamicRules = [];
</script>

</body>
</html>