<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{common :: head_all('Login')}"></th:block>

    <script type="text/javascript" th:src="@{/node_modules/jquery-validation/dist/jquery.validate.js}"></script>
    <script type="text/javascript" th:src="@{/js/common_form.js}"></script>
    <script type="text/javascript" th:src="@{/js/form_validation.js}"></script>

    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
<main class="form-signin w-100 m-auto">
    <form method="POST" th:action="@{/authenticateTheUser}">
        <h1 class="h3 mb-3 fw-normal">Sign in</h1>

        <div class="form-floating">
            <input type="email" class="form-control" name="username" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div th:if="${param.error}" class="alert alert-danger text-center">
            The email and/or password
            you entered isn't working
        </div>
        <div th:if="${param.logout}" class="alert alert-info text-center">
            User logged out successfully
        </div>

        <div class="form-check text-start my-3">
            <input class="form-check-input" type="checkbox" name="remember-me" value="remember-me" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Remember me
            </label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
    </form>
</main>

</body>
</html>