<header th:fragment="header()" class="bg-dark">
    <nav class="navbar navbar-expand-md">
        <div class="container-md">
            <a class="navbar-brand text-white" href="#">SellSphere </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    data-bs-theme="dark" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                 aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<footer th:fragment="footer()" class="bg-dark mt-5">
    <div class="container">
        <nav class="py-3">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>
            <p class="text-center text-white">© 2024 Company, Inc</p>
        </nav>
    </div>
</footer>

<ul th:fragment="export_nav(entities, newEntity)" class="nav mb-3">
    <li th:if="${newEntity}" class="nav-item">
        <a th:href="@{'/' + ${entities} + '/new'}" class="nav-link"><i th:class="${'fa-solid fa-plus fa-xl'}"></i></a>
    </li>
    <li class="nav-item">
        <a th:replace="~{ :: file_link('/' + ${entities} + '/export/', 'csv')}"></a>
    </li>
    <li class="nav-item">
        <a th:replace="~{ :: file_link('/' + ${entities} + '/export/', 'excel')}"></a>
    </li>
    <li class="nav-item">
        <a th:replace="~{ :: file_link('/' + ${entities} + '/export/', 'pdf')}"></a>
    </li>
</ul>

<a th:fragment="file_link(href, fileType)"
   th:href="@{${href} + ${fileType}}"
   class="nav-link">
    <i th:class="'fa-solid fa-file-' + ${fileType} + ' fa-xl'"></i>
</a>
