<div th:fragment="general()" class="p-4">

    <div class="row g-3">
        <th:block th:replace="~{form_fragments :: label_input('Site name', '', 'SITE_NAME', ${SITE_NAME})}"></th:block>
        <th:block th:replace="~{form_fragments :: label_input('Copyright', '', 'COPYRIGHT', ${COPYRIGHT})}"></th:block>
        <th:block
                th:replace="~{form_fragments :: file_input('Site logo', 'newImage', ${S3_BASE_URI} + ${SITE_LOGO})}"></th:block>

        <label class="col-sm-4 col-form-label">Currency Type:
            <a href="#" id="tooltip" data-bs-toggle="tooltip" data-bs-placement="bottom"
               data-bs-title="Available currencies depend on selected supported countries for the payment"><i
                    class="fa-regular fa-circle-question"></i></a>
        </label>
        <div class="col-sm-8">
            <input type="hidden" id="current-currency" th:value="${CURRENCY_ID}"/>
            <select name="CURRENCY_ID" class="form-control" id="currency">

            </select>
        </div>

        <label class="col-sm-4 col-form-label">Currency Symbol Position:</label>
        <div class="col-sm-8">
            <select name="CURRENCY_SYMBOL_POSITION" class="form-control">
                <option value="BEFORE_PRICE" th:selected="(${CURRENCY_SYMBOL_POSITION} == 'BEFORE_PRICE')">Before
                    price
                </option>
                <option value="AFTER_PRICE" th:selected="(${CURRENCY_SYMBOL_POSITION} == 'AFTER_PRICE')">After
                    price
                </option>
            </select>
        </div>

        <label class="col-sm-4 col-form-label">Decimal Point Type:</label>
        <div class="col-sm-8">
            <select name="DECIMAL_POINT_TYPE" class="form-control">
                <option value="POINT" th:selected="(${DECIMAL_POINT_TYPE} == 'POINT')">Point (.)</option>
                <option value="COMMA" th:selected="(${DECIMAL_POINT_TYPE} == 'COMMA')">Comma (,)</option>
            </select>
        </div>

        <label class="col-sm-4 col-form-label">Decimal Digits:</label>
        <div class="col-sm-8">
            <select name="DECIMAL_DIGITS" class="form-control">
                <option value="1" th:selected="(${DECIMAL_DIGITS} == 1)">1</option>
                <option value="2" th:selected="(${DECIMAL_DIGITS} == 2)">2</option>
            </select>
        </div>

        <label class="col-sm-4 col-form-label">Thousands Point Type:</label>
        <div class="col-sm-8">
            <select name="THOUSANDS_POINT_TYPE" class="form-control">
                <option value="POINT" th:selected="(${THOUSANDS_POINT_TYPE} == 'POINT')">Point (.)</option>
                <option value="COMMA" th:selected="(${THOUSANDS_POINT_TYPE} == 'COMMA')">Comma (,)</option>
            </select>
        </div>
    </div>

    <div class="d-flex justify-content-center gap-3 mt-5">
        <input id="saveInput" type="submit" value="Update" class="btn btn-primary rounded-4"/>
        <input type="button" value="Cancel" class="btn btn-secondary rounded-4 cancel" onclick="goToListPage()"/>
    </div>

</div>
