<div th:fragment="payment()" class="p-4">
    <div class="row g-3">
        <label class="col-form-label col-sm-4">Include Tax in prices</label>
        <div class="col-sm-8">
            <select class="form-control" name="TAX">
                <option value="INCLUSIVE" th:selected="(${TAX} == 'INCLUSIVE')">INCLUSIVE</option>
                <option value="EXCLUSIVE" th:selected="(${TAX} == 'EXCLUSIVE')">EXCLUSIVE</option>
            </select>
        </div>

        <label class="col-form-label col-sm-4">
            Allow payments in countries
            <a href="#" id="tooltip" data-bs-toggle="tooltip" data-bs-placement="bottom"
               data-bs-html="true" data-bs-title="<p>You must register before collecting tax, read more about how to register country on stripe <a href='https://docs.stripe.com/tax/supported-countries'>Supported countries</a></p>"><i class="fa-regular fa-circle-question"></i></a>
        </label>

        <div class="col-sm-8">
            <select id="supported-countries" multiple size="20"
                    style="width: 100% !important;">
                <option th:each="country : ${countryList}" th:value="${country.id}" th:text="${country.name}"></option>
            </select>
        </div>

    </div>
</div>