<!DOCTYPE html>
<html lang="en">
<head th:replace="~{form_fragments :: head_with_editor(${pageTitle})}"></head>
<body>
<header th:replace="~{navigations :: header()}"></header>

<main class="content">
    <div class="container-md mt-4">

        <div th:replace="~{common :: alerts()}"></div>

        <h2 class="text-center mt-4" th:text="${pageTitle}"></h2>

        <form id="mainForm" class="mt-4" enctype="multipart/form-data" method="POST" th:action="@{/settings/save}">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="overview-tab" data-bs-toggle="tab"
                            data-bs-target="#overview-tab-pane" type="button" role="tab"
                            aria-controls="overview-tab-pane" aria-selected="true">General
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="country-tab" data-bs-toggle="tab"
                            data-bs-target="#country-tab-pane" type="button" role="tab"
                            aria-controls="country-tab-pane" aria-selected="true">Country
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="state-tab" data-bs-toggle="tab"
                            data-bs-target="#state-tab-pane" type="button" role="tab"
                            aria-controls="state-tab-pane" aria-selected="true">State
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="mail-server-tab" data-bs-toggle="tab"
                            data-bs-target="#mail-server-tab-pane" type="button" role="tab"
                            aria-controls="mail-server-tab-pane" aria-selected="true">Mail server
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="mail-template-tab" data-bs-toggle="tab"
                            data-bs-target="#mail-template-tab-pane" type="button" role="tab"
                            aria-controls="mail-template-tab-pane" aria-selected="true">Mail template
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="payment-tab" data-bs-toggle="tab"
                            data-bs-target="#payment-tab-pane" type="button" role="tab"
                            aria-controls="payment-tab-pane" aria-selected="true">Payment settings
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="shipping-tab" data-bs-toggle="tab"
                            data-bs-target="#shipping-tab-pane" type="button" role="tab"
                            aria-controls="shipping-tab-pane" aria-selected="true">Shipping settings
                    </button>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div th:insert="~{setting/general_settings :: general()}" class="tab-pane fade show active"
                     id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0"></div>
                <div th:insert="~{setting/country_settings :: country()}" class="tab-pane fade"
                     id="country-tab-pane" role="tabpanel" aria-labelledby="country-tab" tabindex="0"></div>
                <div th:insert="~{setting/state_settings :: state()}" class="tab-pane fade"
                     id="state-tab-pane" role="tabpanel" aria-labelledby="state-tab" tabindex="0"></div>
                <div th:insert="~{setting/mail_server_settings :: mail_server()}" class="tab-pane fade"
                     id="mail-server-tab-pane" role="tabpanel" aria-labelledby="mail-server-tab" tabindex="0"></div>
                <div th:insert="~{setting/mail_template_settings :: mail_template()}" class="tab-pane fade"
                     id="mail-template-tab-pane" role="tabpanel" aria-labelledby="mail-template-tab" tabindex="0"></div>
                <div th:insert="~{setting/payment_settings :: payment()}" class="tab-pane fade"
                     id="payment-tab-pane" role="tabpanel" aria-labelledby="payment-tab" tabindex="0"></div>
                <div th:insert="~{setting/shipping_settings :: shipping()}" class="tab-pane fade"
                     id="shipping-tab-pane" role="tabpanel" aria-labelledby="shipping-tab" tabindex="0"></div>
            </div>
        </form>

    </div>
</main>

<footer th:replace="~{navigations :: footer()}"></footer>

<div th:replace="~{modal_fragments :: close_modal('errorModal')}"></div>

<script type="text/javascript" th:src="@{/js/tooltip.js}"></script>
<script type="text/javascript" th:src="@{/js/settings_payment.js}"></script>
<script type="text/javascript" th:src="@{/js/settings_overview.js}"></script>
<script type="text/javascript" th:src="@{/js/settings_common.js}"></script>
<script type="text/javascript" th:src="@{/js/settings_country.js}"></script>
<script type="text/javascript" th:src="@{/js/settings_state.js}"></script>
<script type="text/javascript" th:src="@{/js/settings_mail_template.js}"></script>
<script type="text/javascript">
    const MAX_FILE_SIZE = 5 * 1024 * 1024;
    const WIDTH = 700;
    const HEIGHT = 700;
    const QUALITY = 1;

    const MODULE_URL = "[[@{/}]]";

    const validSetting = {
        required: true,
        maxlength: 1024
    }

    const validationRules = {
        SITE_NAME: {
            ...validSetting,
        },
        COPYRIGHT: {
            ...validSetting,
        },
        MAIL_HOST: {
            ...validSetting,
        },
        MAIL_PORT: {
            ...validSetting,
        },
        MAIL_USERNAME: {
            ...validSetting,
        },
        MAIL_PASSWORD: {
            ...validSetting,
        },
        MAIL_FROM: {
            ...validSetting,
        },
        MAIL_SENDER_NAME: {
            ...validSetting,
        },
        newImage: {
            maxImageSize: true,
        },
        SMTP_AUTH: {
            required: true,
        },
        SMTP_SECURED: {
            required: true,
        },
        CURRENCY_ID: {
            required: true,
            min: 1
        },
        CURRENCY_SYMBOL_POSITION: {
            required: true,
        },
        DECIMAL_POINT_TYPE: {
            required: true,
        },
        DECIMAL_DIGITS: {
            required: true,
        },
        THOUSANDS_POINT_TYPE: {
            required: true
        },
    };

    const validationMessages = {
        SITE_NAME: {
            required: "Site name is required.",
            maxlength: "Site name cannot exceed 1024 characters."
        },
        COPYRIGHT: {
            required: "Copyright information is required.",
            maxlength: "Copyright information cannot exceed 1024 characters."
        },
        MAIL_HOST: {
            required: "Mail host is required.",
            maxlength: "Mail host cannot exceed 1024 characters."
        },
        MAIL_PORT: {
            required: "Mail port is required.",
            maxlength: "Mail port cannot exceed 1024 characters."
        },
        MAIL_USERNAME: {
            required: "Mail username is required.",
            maxlength: "Mail username cannot exceed 1024 characters."
        },
        MAIL_PASSWORD: {
            required: "Mail password is required.",
            maxlength: "Mail password cannot exceed 1024 characters."
        },
        MAIL_FROM: {
            required: "Mail from address is required.",
            maxlength: "Mail from address cannot exceed 1024 characters."
        },
        MAIL_SENDER_NAME: {
            required: "Mail sender name is required.",
            maxlength: "Mail sender name cannot exceed 1024 characters."
        },
        newImage: {
            maxImageSize: "The image size cannot exceed the maximum allowed size."
        },
        SMTP_AUTH: {
            required: "SMTP authentication is required."
        },
        SMTP_SECURED: {
            required: "SMTP secured is required."
        },
        CURRENCY_ID: {
            required: "Currency ID is required.",
            min: "Currency ID must be at least 1."
        },
        CURRENCY_SYMBOL_POSITION: {
            required: "Currency symbol position is required."
        },
        DECIMAL_POINT_TYPE: {
            required: "Decimal point type is required."
        },
        DECIMAL_DIGITS: {
            required: "Decimal digits are required."
        },
        THOUSANDS_POINT_TYPE: {
            required: "Thousands point type is required."
        },
    };

    const dynamicRules = [];
</script>
</body>
</html>
