<div th:fragment="shipping()" class="p-4">
    <div class="row g-3">
        <label class="col-form-label col-sm-4">
            Shipping from
            <a href="#" id="tooltip-shipping-address" data-bs-toggle="tooltip" data-bs-placement="bottom"
               data-bs-html="true"
               data-bs-title="The sender address is the origin location from which the package will be shipped. This address is crucial for determining the shipping rates, delivery times, and available courier options."><i
                    class="fa-regular fa-circle-question"></i></a>
        </label>
        <div class="col-sm-8">
            <div class="d-flex flex-column gap-3">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Contact first name" id="ORIGIN_ADDRESS_FIRST_NAME" name="ORIGIN_ADDRESS_FIRST_NAME" th:value="${ORIGIN_ADDRESS_FIRST_NAME}">
                    <label>Contact First Name</label>
                </div>

                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Contact last name" id="ORIGIN_ADDRESS_LAST_NAME" name="ORIGIN_ADDRESS_LAST_NAME" th:value="${ORIGIN_ADDRESS_LAST_NAME}">
                    <label>Contact Last Name</label>
                </div>

                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Contact phone" id="ORIGIN_ADDRESS_PHONE" name="ORIGIN_ADDRESS_PHONE" th:value="${ORIGIN_ADDRESS_PHONE}">
                    <label>Contact phone</label>
                </div>

                <div class="form-floating">
                    <input type="email" class="form-control" placeholder="Contact email" id="ORIGIN_ADDRESS_EMAIL" name="ORIGIN_ADDRESS_EMAIL" th:value="${ORIGIN_ADDRESS_EMAIL}">
                    <label>Contact email</label>
                </div>

                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="City" id="ORIGIN_ADDRESS_CITY" name="ORIGIN_ADDRESS_CITY" th:value="${ORIGIN_ADDRESS_CITY}">
                    <label>City</label>
                </div>

                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Address Line 1" id="ORIGIN_ADDRESS_LINE1" name="ORIGIN_ADDRESS_LINE1" th:value="${ORIGIN_ADDRESS_LINE1}">
                    <label>Address Line 1</label>
                </div>

                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Address Line 2" id="ORIGIN_ADDRESS_LINE2" name="ORIGIN_ADDRESS_LINE2" th:value="${ORIGIN_ADDRESS_LINE2}">
                    <label>Address Line 2</label>
                </div>

                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Postal code" id="ORIGIN_ADDRESS_POSTAL_CODE" name="ORIGIN_ADDRESS_POSTAL_CODE" th:value="${ORIGIN_ADDRESS_POSTAL_CODE}">
                    <label>Postal code</label>
                </div>

                <div class="form-floating">
                    <input type="hidden" th:value="${ORIGIN_ADDRESS_COUNTRY}" id="ORIGIN_ADDRESS_COUNTRY" name="ORIGIN_ADDRESS_COUNTRY"/>
                    <select class="form-select" id="countriesShippingSettings">
                    </select>
                    <label for="countriesShippingSettings">Country</label>
                </div>

                <div class="form-floating">
                    <input type="hidden" th:value="${ORIGIN_ADDRESS_STATE}" id="ORIGIN_ADDRESS_STATE" name="ORIGIN_ADDRESS_STATE"/>
                    <select class="form-select" id="statesShippingSettings">
                    </select>
                    <label for="statesShippingSettings">State</label>
                </div>

            </div>
        </div>

        <label class="col-form-label col-sm-4">
            Shippable countries
            <a href="#" id="tooltip" data-bs-toggle="tooltip" data-bs-placement="bottom"
               data-bs-html="true" data-bs-title="<p>You must register before collecting tax, read more about how to register tax <a href='https://docs.stripe.com/tax/supported-countries/european-union'>here</a></p>"><i class="fa-regular fa-circle-question"></i></a>
        </label>

        <div class="col-sm-8">
            <select id="supported-countries" multiple size="20"
                    style="width: 100% !important;">
                <option th:each="country : ${countryList}" th:value="${country.id}" th:text="${country.name}"></option>
            </select>
        </div>


        <div class="d-flex justify-content-center gap-3 mt-5">
            <input type="submit" value="Update" class="btn btn-primary rounded-4"/>
            <input type="button" value="Cancel" class="btn btn-secondary rounded-4 cancel" onclick="goToListPage()"/>
        </div>
    </div>
</div>