<html lang="en">
<head th:replace="~{common :: head('Address book')}"></head>
<body>
<header th:replace="~{navigations :: header()}"></header>
<main class="content mt-5">
    <div class="container">
        <form th:object="${customer}" method="POST" th:action="@{/address_book/update}">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{firstName}"/>
            <input type="hidden" th:field="*{lastName}"/>
            <input type="hidden" th:field="*{enabled}"/>
            <input type="hidden" th:field="*{createdTime}"/>
            <input type="hidden" th:field="*{email}"/>

            <div class="row">
                <div class="col-sm-3">
                    <div th:replace="~{customer/customer_navigation :: nav()}"></div>
                </div>
                <div class="col-sm-9 p-3">
                    <div class="d-flex justify-content-between">
                        <h2>Addresses</h2>
                        <div>
                            <i class="bi bi-plus-lg me-1" style="font-size: 0.9rem"></i>
                            <a href="#"
                               class="link-dark link-underline-opacity-50-hover link-underline-opacity-0"
                               id="newAddress">Create new
                                address</a>
                        </div>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li th:each="address,stat : *{addresses}" class="list-group-item">
                            <input type="hidden" th:field="*{addresses[__${stat.index}__].id}"/>
                            <input type="hidden" th:field="*{addresses[__${stat.index}__].customer}"/>


                            <div class="d-flex justify-content-between">
                                <div th:if="${address.primary}">
                                    <span class="fs-5">Shipping address</span><span class="badge text-bg-primary ms-3">Primary</span>
                                </div>
                                <div th:if="${!address.primary}">
                                    <span class="fs-5" th:text="${'Extra shipping address #' + (stat.index)}"></span>
                                </div>
                                <div>
                                    <a class="link-dark link-underline-opacity-50-hover link-underline-opacity-0 collapse-btn"
                                       data-bs-toggle="collapse"
                                       th:href="${'#collapseForm' + stat.index}" role="button" aria-expanded="false"
                                       th:aria-controls="${'collapseForm' + stat.index}"
                                       th:data-collapse-id="${stat.index}"
                                       th:id="${'collapseBtn' + stat.index}"
                                    >
                                        Edit
                                    </a>

                                    <a class="link-danger link-underline-opacity-50-hover link-underline-opacity-0 d-none delete-btn"
                                       th:href="@{|/address_book/delete/${address.id}|}"
                                       th:id="${'deleteBtn' + stat.index}"
                                    >
                                        Delete
                                    </a>
                                </div>
                            </div>

                            <div th:replace="~{address/address_fragments :: addressPreview(${address}, ${stat.index}, ${address.fullName}, ${address.phoneNumber}, ${address.fullAddress})}"></div>

                            <div class="collapse my-3" th:id="${'collapseForm' + stat.index}">
                                <div class="row g-3">
                                    <div class="col-sm-6">
                                        <div th:replace="~{form_fragments :: field_form_floating_text('addresses[__${stat.index}__].firstName', 'First name')}"></div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div th:replace="~{form_fragments :: field_form_floating_text('addresses[__${stat.index}__].lastName', 'Last name')}"></div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div th:replace="~{form_fragments :: field_form_floating_text('addresses[__${stat.index}__].phoneNumber', 'Phone number')}"></div>
                                    </div>


                                </div>

                                <div class="row g-3 mt-3">

                                    <div class="col-sm-6">
                                        <div th:replace="~{form_fragments :: field_form_floating_text('addresses[__${stat.index}__].addressLine1', 'Address Line 1')}"></div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div th:replace="~{form_fragments :: field_form_floating_text('addresses[__${stat.index}__].addressLine2', 'Address Line 2')}"></div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-floating">
                                            <select class="form-select country"
                                                    th:field="*{addresses[__${stat.index}__].country}"
                                                    th:data-id="${address.id}"
                                                    aria-label="Floating label select example">
                                                <option th:each="country : ${countryList}" th:value="${country.id}"
                                                        th:text="${country.name}"></option>
                                            </select>
                                            <label>Select country</label>
                                        </div>
                                    </div>


                                    <div class="col-sm-4">
                                        <div th:replace="~{form_fragments :: field_form_floating_text('addresses[__${stat.index}__].city', 'City')}"></div>

                                    </div>


                                    <div class="col-sm-4">
                                        <div th:replace="~{form_fragments :: field_form_floating_text('addresses[__${stat.index}__].postalCode', 'Postal code')}"></div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-floating">
                                            <input th:list="${'states' + address.id}" class="form-control"
                                                   placeholder="State"
                                                   th:field="*{addresses[__${stat.index}__].state}">
                                            <datalist th:id="${'states' + address.id}">

                                            </datalist>
                                            <label>State</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox"
                                                   th:field="*{addresses[__${stat.index}__].primary}">
                                            <label class="form-check-label">
                                                Primary
                                            </label>
                                        </div>
                                    </div>

                                </div>

                                <div class="row mt-3">
                                    <div class="col-sm-6 d-flex gap-3">
                                        <a href="#" class="btn btn-sm collapse-btn btn-outline-secondary p-2"
                                           data-bs-toggle="collapse"
                                           th:data-bs-target="${'#collapsePreview' + stat.index}"
                                           aria-expanded="false"
                                           th:aria-controls="${'collapsePreview' + stat.index}"
                                           style="width: 200px;"
                                           th:data-collapse-id="${stat.index}"
                                        >
                                            Cancel
                                        </a>
                                        <button type="submit" class="btn btn-sm btn-outline-primary p-2"
                                                style="width: 200px;">
                                            Save
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</main>
<footer th:replace="~{navigations :: footer()}"></footer>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5 p-2" id="staticBackdropLabel">Create new address</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:object="${address}" method="POST" th:action="@{/address_book/save}" class="p-3">
                    <input type="hidden" name="customer" th:value="${customer.id}">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <div class="form-floating ">
                                <input type="text" class="form-control"
                                       th:field="*{firstName}"
                                       placeholder="First name">
                                <label>First name</label>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="text" class="form-control"
                                       th:field="*{lastName}"
                                       placeholder="Last name">
                                <label>Last name</label>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="text" class="form-control"
                                       th:field="*{phoneNumber}"
                                       placeholder="Phone number">
                                <label>Phone number</label>
                            </div>
                        </div>


                    </div>

                    <div class="row g-3 mt-3">

                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="text" class="form-control"
                                       th:field="*{addressLine1}"
                                       placeholder="Address Line 1">
                                <label>Address Line 1</label>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="text" class="form-control"
                                       th:field="*{addressLine2}"
                                       placeholder="Address Line 2">
                                <label>Address Line 2</label>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-floating">
                                <select class="form-select country" th:field="*{country}" data-select-type="modal"
                                        aria-label="Floating label select example">
                                    <option th:each="country : ${countryList}" th:value="${country.id}"
                                            th:text="${country.name}"></option>
                                </select>
                                <label>Select country</label>
                            </div>
                        </div>


                        <div class="col-sm-4">
                            <div class="form-floating">
                                <input type="text" class="form-control"
                                       th:field="*{city}"
                                       placeholder="City">
                                <label>City</label>
                            </div>
                        </div>


                        <div class="col-sm-4">
                            <div class="form-floating">
                                <input type="text" class="form-control"
                                       th:field="*{postalCode}"
                                       placeholder="Postal Code">
                                <label>Postal Code</label>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-floating">
                                <input list="states" class="form-control" placeholder="State" th:field="*{state}">
                                <datalist id="states">

                                </datalist>
                                <label>State</label>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"
                                       th:field="*{primary}">
                                <label class="form-check-label">
                                    Set as primary address
                                </label>
                            </div>
                        </div>

                    </div>

                    <div class="mt-3 d-flex gap-2">
                        <button type="submit" class="btn btn-sm btn-outline-primary">Add address</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-3 shadow">
            <div class="modal-body p-4 text-center">
                <h5 class="mb-0">Delete this address?</h5>
                <p class="mb-0">Deleting the primary address will assign primary status to the next address.</p>
            </div>
            <div class="modal-footer flex-nowrap p-0">
                <a href="#" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end"
                   id="deleteModalBtn"><strong>Yes, delete</strong></a>
                <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0"
                        data-bs-dismiss="modal">I change my mind
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/addresses.js}"></script>
<script type="text/javascript">
    const MODULE_URL = '[[@{/}]]';


</script>
</body>
</html>