<div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general"
                    type="button" role="tab" aria-controls="general" aria-selected="true">General
            </button>
            <button class="nav-link" id="address-tab" data-bs-toggle="tab" data-bs-target="#address"
                    type="button" role="tab" aria-controls="address" aria-selected="false">Address
            </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab"
             tabindex="0">
            <div class="row g-3 p-3">

                <label class="col-sm-4 col-form-label">E-mail</label>
                <div class="col-sm-8">
                    <input type="text" th:value="${customer.email}" class="form-control" readonly/>
                </div>

                <label class="col-sm-4 col-form-label">First Name</label>
                <div class="col-sm-8">
                    <input type="text" th:value="${customer.firstName}" class="form-control" readonly/>
                </div>

                <label class="col-sm-4 col-form-label">Last Name</label>
                <div class="col-sm-8">
                    <input type="text" th:value="${customer.lastName}" class="form-control" readonly/>
                </div>

                <label class="col-sm-4 col-form-label">Enabled</label>
                <div class="col-sm-8">
                    <input type="checkbox" th:checked="${customer.enabled}" class="form-check" disabled/>
                </div>

                <label class="col-sm-4 col-form-label">Created Time</label>
                <div class="col-sm-8">
                    <input type="text" th:value="${customer.createdTime}" class="form-control" readonly/>
                </div>

            </div>
        </div>

        <div class="tab-pane fade p-3" id="address" role="tabpanel" aria-labelledby="address-tab" tabindex="0">
            <div class="list-group">

                <a th:each="address,stat : ${customer.addresses}" class="list-group-item p-3" th:classappend="${address.primary ? 'active' : ''}">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Address #[[${stat.index}]]</h5>
                        <small th:if="${address.primary}" class="text-body-secondary">Primary</small>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">First name</div>
                        <div class="col-6" th:text="${address.firstName}"></div>

                        <div class="col-6">Last name</div>
                        <div class="col-6" th:text="${address.lastName}"></div>

                        <div class="col-6">Phone number</div>
                        <div class="col-6" th:text="${address.phoneNumber}"></div>

                        <div class="col-6">Address line 1</div>
                        <div class="col-6" th:text="${address.addressLine1}"></div>

                        <div class="col-6">Address line 2</div>
                        <div class="col-6" th:text="${address.addressLine2}"></div>

                        <div class="col-6">City</div>
                        <div class="col-6" th:text="${address.city}"></div>

                        <div class="col-6">State</div>
                        <div class="col-6" th:text="${address.state}"></div>

                        <div class="col-6">Country</div>
                        <div class="col-6" th:text="${address.country.name}"></div>

                    </div>
                </a>

                <h4 th:if="${customer.addresses == null or customer.addresses.size == 0}" class="subheading text-center">No addresses for this customer exist</h4>
            </div>
        </div>
    </div>
</div>
