<!DOCTYPE html>
<html lang="en">
<head th:replace="~{form_fragments :: head('Edit Review')}"></head>
<body>
<header th:replace="~{navigations :: header()}"></header>

<div class="container-fluid">
    <div class="row">
        <div th:replace="navigations :: sidebar('Reviews')"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" th:text="${'EDIT REVIEW ' + review.id}"></h1>
            </div>

            <section class="content mb-5">
                <div class="container-md mt-7">
                    <form id="mainForm" th:action="@{/reviews/save}" method="POST" th:object="${review}">
                        <div class="mx-auto mt-5">
                            <div th:replace="~{common :: alerts()}"></div>

                            <div class="border border-1 rounded-3 px-4 pb-4 shadow-sm row g-3">
                                <input type="hidden" th:field="*{id}"/>
                                <input type="hidden" th:field="*{reviewTime}"/>
                                <input type="hidden" th:field="*{votes}"/>
                                <input type="hidden" th:field="*{customer}"/>
                                <input type="hidden" th:field="*{product}"/>

                                <th:block
                                        th:replace="~{form_fragments :: text_input('Product', 'product.name', true)}"></th:block>
                                <th:block
                                        th:replace="~{form_fragments :: text_input('Customer', 'customer.fullName', true)}"></th:block>
                                <th:block
                                        th:replace="~{form_fragments :: text_input('Rating', 'rate', true)}"></th:block>

                                <th:block
                                        th:replace="~{form_fragments :: date_input('Review time', '', ${review.reviewTime}, true)}"></th:block>

                                <th:block
                                        th:replace="~{form_fragments :: text_input('Headline', 'headline', false)}"></th:block>

                                <label class="col-sm-4 col-form-label">Comment</label>
                                <div class="col-sm-8 ">
                                    <textarea class="form-control" th:field="*{comment}"></textarea>
                                    <span th:replace="~{form_fragments :: field_error('comment')}"></span>
                                </div>

                                <th:block
                                        th:replace="~{form_fragments :: checkbox_input('Approved', 'approved', ${review.approved}, false)}"></th:block>
                            </div>

                            <div th:replace="~{form_fragments :: form_buttons(${review})}"></div>
                        </div>
                    </form>
                </div>
            </section>
        </main>
    </div>
</div>

<script type="text/javascript">
    const validationRules = {
        headline: {
            required: true,
            maxlength: 128,
        },
        comment: {
            required: true,
            maxlength: 255,
        },

    }

    const validationMessages = {
        headline: {
            required: "Headline is required",
            maxlength: "The headline is too long. Please limit it to 128 characters",
        },
        comment: {
            required: "Comment is required",
            maxlength:  "The comment is too long. Please limit it to 255 characters",
        },
    }
</script>
</body>
</html>