<!DOCTYPE html>
<html lang="en">
<head th:replace="list_fragments :: head('Review Management')"></head>
<body>

<nav th:replace="~{navigations :: header()}"></nav>

<main class="mt-4 content">
    <h1 class="text-center">Manage Reviews</h1>

    <div class="container-md mt-5">

        <div th:replace="~{common :: alerts()}"></div>

        <form th:replace="~{list_fragments :: search_bar('/reviews/page/0', 'Search for the review', 'reviewTime', ${keyword}, ${totalItems}, null)}"></form>

        <table class="table table-hover mt-4">
            <thead class="table-dark">
            <tr>
                <th th:replace="~{list_fragments :: column_link('/reviews/page', ${currentPage},'id',${sortField}, ${reversedSortDir},${sortDir}, ${keyword}, 'ID')}"></th>
                <th th:replace="~{list_fragments :: column_link('/reviews/page', ${currentPage},'product.name',${sortField}, ${reversedSortDir},${sortDir}, ${keyword}, 'Product')}"></th>
                <th th:replace="~{list_fragments :: column_link('/reviews/page', ${currentPage},'customer',${sortField}, ${reversedSortDir},${sortDir}, ${keyword}, 'Customer')}"></th>
                <th th:replace="~{list_fragments :: column_link('/reviews/page', ${currentPage},'product.averageRating',${sortField}, ${reversedSortDir},${sortDir}, ${keyword}, 'Rating')}"></th>
                <th th:replace="~{list_fragments :: column_link('/reviews/page', ${currentPage},'reviewTime',${sortField}, ${reversedSortDir},${sortDir}, ${keyword}, 'Review Time')}"></th>
                <th>Approved</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="review : ${reviewList}">
                <td th:text="${review.id}"></td>
                <td th:text="${review.product.name}"></td>
                <td th:text="${review.customer.fullName}"></td>
                <td th:text="${review.product.averageRating}"></td>
                <td th:text="${review.reviewTime}"></td>
                <td><th:block th:replace="~{list_fragments :: status(${review.approved}, |/reviews/${review.id}/approved/${!review.approved}|)}"></th:block></td>
                <td>
                    <th:block th:replace="~{list_fragments :: detail_entity(|/reviews/details/${review.id}|)}"></th:block>
                    <th:block th:replace="~{list_fragments :: delete_entity(|/reviews/delete/${review.id}|)}"></th:block>
                    <th:block th:replace="~{list_fragments :: edit_entity(|/reviews/edit/${review.id}|)}"></th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <nav th:replace="~{list_fragments :: large_pagination('/reviews/page', ${currentPage}, ${totalPages}, ${sortField}, ${sortDir}, ${keyword}, null)}" class="mt-4"></nav>

</main>

<nav th:replace="~{navigations :: footer()}"></nav>

<div th:replace="~{modal_fragments :: confirm_close_modal('deleteModal','Delete')}"></div>
<div th:replace="~{modal_fragments :: close_modal('detailModal')}"></div>
<div th:replace="~{modal_fragments :: close_modal('errorModal')}"></div>
</body>
</html>