<!DOCTYPE html>
<html lang="en">
<head th:replace="~{form_fragments :: head('Edit Account')}"></head>
<body>
<header th:replace="~{navigations :: header()}"></header>

<div class="container-fluid">
    <div class="row">

        <div th:replace="navigations :: sidebar('Account')"></div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Edit Account</h1>
            </div>

            <section class="content mb-5">

                <div th:replace="~{common :: alerts()}"></div>

                <div class="container-md mt-7">
                    <form id="mainForm" th:action="@{/account/update}" method="POST" th:object="${user}"
                          enctype="multipart/form-data">

                        <div class="mx-auto mt-5">
                            <div class="border border-1 rounded-3 px-4 pb-4 shadow-sm row g-3">
                                <input th:replace="~{form_fragments :: hidden_input('id')}"/>
                                <input th:replace="~{form_fragments :: hidden_input('enabled')}"/>

                                <th:block th:replace="~{form_fragments :: text_input('Email address', 'email', false)}"></th:block>
                                <th:block th:replace="~{form_fragments :: text_input('First name', 'firstName', false)}"></th:block>
                                <th:block th:replace="~{form_fragments :: text_input('Last name', 'lastName', false)}"></th:block>

                                <th:block th:replace="~{form_fragments :: password_input(${user.id})}"></th:block>
                                <th:block th:replace="~{form_fragments :: confirm_password_input(${user.id})}"></th:block>

                                <label class="col-sm-4 col-form-label">Roles</label>
                                <div class="col-sm-8">
                                    <th:block th:each="role : ${roleList}">
                                        <div th:replace="~{form_fragments :: checkbox_list_input(${role.simpleName}, 'roles', ${role.id}, ${user.roles.contains(role)}, true)}"></div>
                                    </th:block>
                                </div>

                                <th:block th:replace="~{form_fragments :: image_input(${user.mainImagePath}, 'mainImage', 150, 150)}"></th:block>
                            </div>
                        </div>

                        <div th:replace="~{form_fragments :: form_buttons(${user})}"></div>
                    </form>
                </div>
            </section>

        </main>

    </div>
</div>

<div th:replace="~{modal_fragments :: close_modal('errorModal')}"></div>
<script type="text/javascript">
    const MAX_FILE_SIZE = 5 * 1024 * 1024;
    const WIDTH = 150;
    const HEIGHT = 150;
    const QUALITY = 1;

    const MODULE_URL = "[[@{/}]]";

    const validationRules = {
        firstName: {
            required: true,
            maxlength: 45,
        },
        lastName: {
            required: true,
            maxlength: 45,
        },
        password: {
            passwordRequired: true,
            mypassword: true,
        },
        confirmedPassword: {
            passwordMatch: true,
            passwordRequired: true,
            mypassword: true,
        },
        email: {
            required: true,
            email: true,
            remote: {
                url: `${MODULE_URL}users/check_uniqueness`,
                type: "post",
                data: {
                    email: function () {
                        return $('input[name="email"]').val();
                    },
                    _csrf: function () {
                        return $('input[name="_csrf"]').val();
                    },
                    id: function () {
                        return $('input[name="id"]').val();
                    },
                },
                error: function (jqXHR) {
                    handleRemoteValidationError(jqXHR);
                }
            }
        },
        newImage: {
            imageRequired: ["mainImage"],
            maxImageSize: true
        }
    };

    const validationMessages = {
        firstName: {
            required: "Please enter your first name.",
            maxlength: "Your first name cannot exceed 45 characters. Please shorten it.",
        },
        lastName: {
            required: "Please enter your last name.",
            maxlength: "Your last name cannot exceed 45 characters. Please shorten it.",
        },
        password: {
            passwordRequired: "A password is required to secure your account.",
            minlength: "Your password must be at least 8 characters long to meet our security requirements.",
            maxlength: "Your password cannot exceed 72 characters. Please choose a shorter password.",
            mypassword: "Your password must be 8-72 characters long and include at least one uppercase letter and one digit."
        },
        confirmedPassword: {
            passwordMatch: "Passwords do not match.",
            passwordRequired: "A confirmed password is required.",
            mypassword: "Your confirmed password must be 8-72 characters long and include at least one uppercase letter and one digit."
        },
        email: {
            required: "An email address is required for account creation and recovery.",
            email: "The email address entered doesn't look right. Please check it for typos.",
            remote: "The email address you entered is already associated with an account. If it belongs to you, please log in."
        },
        newImage: {
            imageRequired: "An image is required to represent the user. Please upload one.",
            maxImageSize: `The image size cannot exceed ${formatBytes(MAX_FILE_SIZE)}. Please choose a smaller image.`
        }
    };

    const dynamicRules = [];
</script>
</body>
</html>
