<!DOCTYPE html>
<html lang="en">
<head th:replace="~{list_fragments :: common_head('Manage Users')}"></head>
<body>
<section>
    <div class="container mt-7">
        <h1 class="subheading text-center">Manage Users</h1>
        <form th:replace="~{list_fragments :: search_bar('/users/page/0', 'Search for the user', 'firstName')}"></form>
        <table class="table table-hover mt-4">
            <thead class="table-dark">
            <tr>
                <th th:replace="~{list_fragments :: column_link('/users/page', 'id', 'ID')}"></th>
                <th></th>
                <th th:replace="~{list_fragments :: column_link('/users/page', 'email', 'Email')}"></th>
                <th th:replace="~{list_fragments :: column_link('/users/page', 'firstName', 'First Name')}"></th>
                <th th:replace="~{list_fragments :: column_link('/users/page', 'lastName', 'Last Name')}"></th>
                <th>Roles</th>
                <th th:replace="~{list_fragments :: column_link('/users/page', 'enabled', 'Enabled')}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${userList}">
                <td th:text="${user.id}"></td>
                <td></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.roles}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav th:replace="~{list_fragments :: large_pagination('/users/page', ${currentPage}, ${totalPages}, ${sortField}, ${sortDir}, ${keyword}, null)}"></nav>
</section>
</body>
</html>