<!DOCTYPE html>
<html lang="en">
<head th:replace="~{list_fragments :: head('Manage Users')}"></head>
<body>

<header th:replace="~{navigations :: header()}"></header>

<main class="mt-4 content">
    <h1 class="text-center">Manage Users</h1>

    <div class="container-md mt-5">

        <!-- Alerts -->
        <div th:replace="~{common :: alerts()}"></div>

        <!-- Search Bar -->
        <form th:replace="~{list_fragments :: search_bar('/users/page/0', 'Search for the user', 'firstName', ${keyword}, ${totalItems}, null)}"></form>

        <!-- User Table -->
        <table class="table table-hover mt-4">
            <thead class="table-dark">
            <tr>
                <th th:replace="~{list_fragments :: column_link('/users/page', ${currentPage}, 'id', ${sortField}, ${reversedSortDir}, ${sortDir}, ${keyword}, 'ID')}"></th>
                <th></th>
                <th th:replace="~{list_fragments :: column_link('/users/page', ${currentPage}, 'email', ${sortField}, ${reversedSortDir}, ${sortDir}, ${keyword}, 'Email')}"></th>
                <th th:replace="~{list_fragments :: column_link('/users/page', ${currentPage}, 'firstName', ${sortField}, ${reversedSortDir}, ${sortDir}, ${keyword}, 'First Name')}"></th>
                <th th:replace="~{list_fragments :: column_link('/users/page', ${currentPage}, 'lastName', ${sortField}, ${reversedSortDir}, ${sortDir}, ${keyword}, 'Last Name')}"></th>
                <th>Roles</th>
                <th th:replace="~{list_fragments :: column_link('/users/page', ${currentPage}, 'enabled', ${sortField}, ${reversedSortDir}, ${sortDir}, ${keyword}, 'Enabled')}"></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user : ${userList}">
                <td th:text="${user.id}"></td>
                <td>
                    <div th:replace="~{list_fragments :: entity_image(${user.mainImagePath})}"></div>
                </td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.roleNames}"></td>
                <td>
                    <a th:replace="~{list_fragments :: status(${user.enabled}, |/users/${user.id}/enabled/${!user.enabled}|)}"></a>
                </td>
                <td>
                    <a th:replace="~{list_fragments :: delete_entity(|/users/delete/${user.id}|)}"></a>
                    <a th:replace="~{list_fragments :: edit_entity(|/users/edit/${user.id}|)}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <nav th:replace="~{list_fragments :: large_pagination('/users/page', ${currentPage}, ${totalPages}, ${sortField}, ${sortDir}, ${keyword}, null)}"
         class="mt-4"></nav>
</main>

<footer th:replace="~{navigations :: footer()}"></footer>

</body>
</html>