/* Base styles for all hidden classes */
.hidden-xs,
.hidden-sm,
.hidden-md,
.hidden-lg,
.hidden-xl,
.hidden-xxl {
  display: block !important; /* Default to block */
}

/* Extra small (none): hidden-xs */
@media (max-width: 575px) {
  .hidden-xs {
    display: none !important;
  }
}
/* Small (sm): hidden-sm */
@media (min-width: 576px) and (max-width: 767px) {
  .hidden-sm {
    display: none !important;
  }
}
/* Medium (md): hidden-md */
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-md {
    display: none !important;
  }
}
/* Large (lg): hidden-lg */
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-lg {
    display: none !important;
  }
}
/* Extra large (xl): hidden-xl */
@media (min-width: 1200px) and (max-width: 1399px) {
  .hidden-xl {
    display: none !important;
  }
}
/* Extra extra large (xxl): hidden-xxl */
@media (min-width: 1400px) {
  .hidden-xxl {
    display: none !important;
  }
}
